{% extends "base.html" %}

{% block title_content %}
    <title>Amministratore</title>
{% endblock %}

{% block script_content %}
<script>
    window.onload = updatePage;
    var timestamps;
    function callSave() {
        return new Promise(function(resolve, reject) {
            var saveRequest = new XMLHttpRequest();
            saveRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            saveRequest.open("POST", "/save", true);
            saveRequest.send();
        })
    }
    function callLoad(timestamp) {
        return new Promise(function(resolve, reject) {
            var loadRequest = new XMLHttpRequest();
            loadRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            loadRequest.open("POST", "/load", true);
            loadRequest.setRequestHeader("Content-Type", "application/json");
            json_content = Object();
            json_content['timestamp'] = timestamp;
            loadRequest.send(JSON.stringify(json_content));
        })
    }
    function callGetTimestamps() {
        return new Promise(function(resolve, reject) {
            var timestampsRequest = new XMLHttpRequest();
            timestampsRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            timestampsRequest.open("GET", "/load", true);
            timestampsRequest.send();
        })
    }
    function updatePage() {
        Promise.all([callGetTimestamps()]).then(function (values) {
            timestamps = JSON.parse(values[0]);
            updateChoice();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function updateChoice() {
        choice = document.getElementById("saved");
        choice.options.length = 0;
        for (key in timestamps) {
            option = document.createElement("option");
            option.value = key;
            option.innerText = timestamps[key];
            choice.appendChild(option);
        }
    }
    function save() {
        Promise.all([callSave()]).then(function (values) {
            timestamp = JSON.parse(values[0]);
            timestamps = {...timestamps, ...timestamp};
            updateChoice();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function load() {
        choice = document.getElementById("saved");
        index = choice.value;
        Promise.all([callLoad(timestamps[index])]).then(function (values) {
            window.alert("Loading successful");
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
</script>
{% endblock %}

{% block content %}
<a href="/web/leagues">Leghe</a>
<a href="/web/nations">Nazioni</a>
<a href="/web/players">Tennisti</a>
<a href="/web/gamblers">Scomettitori</a>
<button type="button" onclick="save()">Salva</button>
<select name="saved" id="saved"></select>
<button type="button" onclick="load()">Carica</button>
{% endblock %}
