<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    {% block title_content %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='prova.css') }}">
</head>

<body>
    <script>
        function sendRequest(method, url, requestJson=null, responseType=null) {
            return new Promise(function (resolve, reject) {
                const request = new XMLHttpRequest();
                request.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        if (this.status == 200) {
                            resolve(this.responseText);
                        } else {
                            reject(this.responseText);
                        }
                    }
                };
                request.open(method, url, true);
                if (requestJson != null) {
                    request.setRequestHeader("Content-Type", "application/json");
                }
                if (responseType != null) {
                    request.responseType = responseType;
                }
                request.send(JSON.stringify(requestJson));
            })
        }
    </script>
    {% block script_content %}
    {% endblock %}
    <div>
        <nav class="navbar">
            <div class="navbar-end">
                {% if current_user.is_authenticated %}
                Accesso come: <a href="{{ url_for('web_profile') }}">{{ current_user.nickname }}</a>
                &nbsp;&nbsp;
                <a href="{{ url_for('logout') }}" class="navbar-item">
                Logout
                </a>
                {% else %}
                <a href="{{ url_for('login') }}" class="navbar-item">
                    Login
                </a>
                &nbsp;&nbsp;
                <a href="{{ url_for('signup') }}" class="navbar-item">
                    Registrazione
                </a>
                {% endif %}
            </div>
        </nav>
    </div>

    <div>
       {% block content %}
       {% endblock %}
    </div>
</body>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</html>