<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    {% block title_content %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='prova.css') }}">
</head>

<body>
    {% block script_content %}
    {% endblock %}
    <div>
        <nav class="navbar">
            <div class="navbar-end">
                {% if current_user.is_authenticated %}
                Accesso come: <a href="{{ url_for('web_profile') }}">{{ current_user.nickname }}</a>
                &nbsp;&nbsp;
                <a href="{{ url_for('logout') }}" class="navbar-item">
                Logout
                </a>
                {% else %}
                <a href="{{ url_for('login') }}" class="navbar-item">
                    Login
                </a>
                &nbsp;&nbsp;
                <a href="{{ url_for('signup') }}" class="navbar-item">
                    Registrazione
                </a>
                {% endif %}
            </div>
        </nav>
    </div>

    <div>
       {% block content %}
       {% endblock %}
    </div>
</body>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</html>