{% extends "base.html" %}

{% block title_content %}
    <title></title>
{% endblock %}

{% block script_content %}
<script>
    window.onload = updatePage;
    let leagues;
    let gamblers;
    let players;
    let nations;
    let ranking;
    let tournaments;
    let leagueGamblers;
    let leagueGamblerDetails;
    function updatePage() {
        Promise.all([
            sendRequest("GET", "/leagues"),
            sendRequest("GET", "/gamblers"),
            sendRequest("GET", "/players"),
            sendRequest("GET", "/nations"),
            sendRequest("GET", "/leagues/{{ league_index }}/ranking"),
            sendRequest("GET", "/leagues/{{ league_index }}/tournaments"),
            sendRequest("GET", "/leagues/{{ league_index }}/gamblers")
        ]).then(function (values) {
            leagues = JSON.parse(values[0]);
            gamblers = JSON.parse(values[1]);
            players = JSON.parse(values[2]);
            nations = JSON.parse(values[3]);
            ranking = JSON.parse(values[4]);
            tournaments = JSON.parse(values[5]);
            leagueGamblers = JSON.parse(values[6]);
            updateTitles();
            updateTableTournaments();
            updateTablesRanking();
            updateTableWinnersRecord();
            plotRankingChart();
            leagueGamblerDetails = Object();
            const allDetailsPromises = Array();
            for (const key in leagueGamblers) {
                allDetailsPromises.push(
                    sendRequest("GET", "/leagues/{{ league_index }}/gamblers/" + key, null, key)
                );
            }
            Promise.all(allDetailsPromises).then(function (values) {
                for (const index in values) {
                    const responseObject = values[index];
                    leagueGamblerDetails[responseObject["key"]] = JSON.parse(responseObject["response"]);
                }
                {% if is_privileged %}
                updateButtons();
                {% endif %}
            }).catch(function (reason) {
                window.alert(reason);
            });
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function updateTableWinnersRecord() {
        const table = document.getElementById("tableWinnersRecord");
        const header = table.createTHead();
        const headerRow = header.insertRow(0);
        let cell = headerRow.insertCell();
        const tournamentNames = Array();
        for (const key in ranking["record_tournament"]) {
            const tournamentObject = ranking["record_tournament"][key];
            for (const tournamentName in tournamentObject) {
                if (!tournamentNames.includes(tournamentName)) {
                    tournamentNames.push(tournamentName);
                }
            }
        }
        const categoryNames = Array();
        for (const key in ranking["record_category"]) {
            const categoryObject = ranking["record_category"][key];
            for (const categoryName in categoryObject) {
                if (!categoryNames.includes(categoryName)) {
                    categoryNames.push(categoryName);
                }
            }
        }
        for (const index in tournamentNames) {
            cell = headerRow.insertCell();
            cell.innerText = tournamentNames[index];
        }
        for (const index in categoryNames) {
            cell = headerRow.insertCell();
            cell.innerText = category2text(categoryNames[index]);
        }
        cell = headerRow.insertCell();
        cell.innerText = "Totale";
        const body = table.createTBody();
        let currentSeasonYear;
        if (ranking["last_tournament"] != null) {
            currentSeasonYear = tournaments[ranking["last_tournament"]]["year"];
        } else {
            currentSeasonYear = null;
        }

        let gamblerTotal = Object();
        for (const key in ranking["record_tournament"]) {
            gamblerTotal[key] = 0;
            for (const index in tournamentNames) {
                if (tournamentNames[index] in ranking["record_tournament"][key]) {
                    gamblerTotal[key] += ranking["record_tournament"][key][tournamentNames[index]];
                }
            }
        }
        const sortedGamblers = orderObjectByValue(gamblerTotal);
        sortedGamblers.reverse();
        for (const index in sortedGamblers) {
            const key = sortedGamblers[index][0];
            const row = body.insertRow();
            const nameCell = row.insertCell();
            nameCell.innerText = gamblers[key]["nickname"];
            let total = 0;
            let totalCurrentSeason = false;
            for (const index in tournamentNames) {
                cell = row.insertCell();
                if (tournamentNames[index] in ranking["record_tournament"][key]) {
                    cell.innerText = ranking["record_tournament"][key][tournamentNames[index]];
                    if (currentSeasonYear != null && checkNameCurrentSeason(key, tournamentNames[index], currentSeasonYear)) {
                        totalCurrentSeason = true;
                        cell.className = 'currentSeason';
                    }
                    total += ranking["record_tournament"][key][tournamentNames[index]];
                } else {
                    cell.innerText = "0";
                }
            }
            for (const index in categoryNames) {
                cell = row.insertCell();
                if (categoryNames[index] in ranking["record_category"][key]) {
                    cell.innerText = ranking["record_category"][key][categoryNames[index]];
                    if (currentSeasonYear != null && checkCategoryCurrentSeason(key, categoryNames[index], currentSeasonYear)) {
                        cell.className = 'currentSeason';
                    }
                } else {
                    cell.innerText = "0";
                }
            }
            cell = row.insertCell();
            cell.innerText = String(total);
            if (totalCurrentSeason) {
                cell.className = 'currentSeason';
            }
        }
    }
    function checkNameCurrentSeason(gambler, name, year) {
        for (const index in tournaments) {
            const tournament = tournaments[index];
            if (tournament["name"] === name && tournament["year"] === year && String(ranking["winners"][index]) === gambler) {
                return true;
            }
        }
        return false;
    }
    function checkCategoryCurrentSeason(gambler, category, year) {
        for (const index in tournaments) {
            const tournament = tournaments[index];
            if (tournament["category"] === category && tournament["year"] === year && String(ranking["winners"][index]) === gambler) {
                return true;
            }
        }
        return false;
    }
    function updateTitles() {
        document.getElementById("mainHeader").innerText = leagues["{{ league_index }}"]["name"];
        document.getElementById("winnerLeague").innerText = "Vincitore\n" + leagues["{{ league_index }}"]["name"];
        document.title = leagues["{{ league_index }}"]["name"];
    }
    function updateTableTournaments() {
        const table = document.getElementById("tableTournamentsBody");
        table.innerText = "";
        for (const key in tournaments) {
            {% if not is_privileged %}
            if (tournaments[key]["is_ghost"]) {
                continue;
            }
            {% endif %}
            const row = table.insertRow();
            const nameCell = row.insertCell();
            const nameLink = document.createElement("a");
            nameLink.innerText = tournaments[key]["name"];
            nameLink.setAttribute("href", "/web/leagues/{{ league_index }}/tournaments/" + key);
            nameCell.appendChild(nameLink);
            if (!tournaments[key]["is_open"]) {
                const lock = document.createElement("img");
                lock.src = "/static/lock.png";
                nameLink.innerText += "   ";
                nameLink.appendChild(lock);
            }
            const yearCell = row.insertCell();
            yearCell.innerText = tournaments[key]["year"];
            const nationCodeCell = row.insertCell();
            nationCodeCell.innerText = nations[tournaments[key]["nation"]].code;
            const flagCell = row.insertCell();
            const img = document.createElement('img');
            img.src = '/static/flags/' + nations[tournaments[key]["nation"]].code + '.png';
            img.setAttribute("class", "bordered");
            flagCell.appendChild(img);
            const nSetsCell = row.insertCell();
            nSetsCell.innerText = tournaments[key]["n_sets"];
            const tieBreakerCell = row.insertCell();
            const tieBreaker = tournaments[key]["tie_breaker_5th"];
            tieBreakerCell.innerText = tieBreaker2text(tieBreaker);
            const categoryCell = row.insertCell();
            const category = tournaments[key]["category"];
            categoryCell.innerText = category2text(category);
            const drawCell = row.insertCell();
            const draw = tournaments[key]["draw_type"];
            drawCell.innerText = draw2text(draw);
            const playerWinnerCell = row.insertCell();
            const playerWinner = tournaments[key]["winner"] != null ? players[tournaments[key]["winner"]] : null;
            if (playerWinner != null) {
                playerWinnerCell.innerText = playerWinner["name"] + " " + playerWinner["surname"];
            } else {
                playerWinnerCell.innerText = "/";
            }
            const gamblerWinnerCell = row.insertCell();
            const gamblerWinner = key in ranking["winners"] ? gamblers[ranking["winners"][key]] : null;
            if (gamblerWinner != null) {
                gamblerWinnerCell.innerText = gamblerWinner["nickname"];
            } else {
                gamblerWinnerCell.innerText = "/";
            }
            {% if is_privileged %}
                const ghostCell = row.insertCell();
                if (tournaments[key]["is_ghost"]) {
                    ghostCell.innerText = "GHOST";
                }
                addToolsCell(row, key, tournamentUpdate, deleteTournament);
            {% endif %}
        }
    }
    function updateTablesRanking() {
        const tableRanking = document.getElementById("tableRankingBody");
        const rankingScores = ranking["ranking_scores"];
        const rankingScoresArray = orderObjectByValue(rankingScores);
        rankingScoresArray.reverse();
        let lastPosition = undefined;
        let lastPoints = undefined;
        for (let index = 0; index < rankingScoresArray.length; index++) {
            const pair = rankingScoresArray[index];
            const gamblerIndex = pair[0];
            const gamblerPoints = pair[1];
            const row = tableRanking.insertRow();
            const positionCell = row.insertCell();
            if (gamblerPoints === lastPoints) {
                positionCell.innerText = lastPosition;
            } else {
                positionCell.innerText = String(index + 1);
                lastPosition = index + 1;
            }
            const gamblerCell = row.insertCell();
            gamblerCell.innerText = gamblers[gamblerIndex]["nickname"];
            const pointsCell = row.insertCell();
            pointsCell.innerText = String(gamblerPoints);
            lastPoints = gamblerPoints;
        }
        const tableRace = document.getElementById("tableRaceBody");
        const yearlyScores = ranking["yearly_scores"];
        const years = Object.keys(yearlyScores).map(x => parseInt(x));
        if (years.length === 0) {
            document.getElementById("tableRace").remove();
            return;
        }
        const lastYear = Math.max(...years);
        document.getElementById("raceTitle").innerText = "Race " + lastYear;
        const yearlyScoresArray = orderObjectByValue(yearlyScores[lastYear]);
        yearlyScoresArray.reverse();
        lastPosition = undefined;
        lastPoints = undefined;
        for (let index = 0; index < yearlyScoresArray.length; index++) {
            const pair = yearlyScoresArray[index];
            const gamblerIndex = pair[0];
            const gamblerPoints = pair[1];
            const row = tableRace.insertRow();
            const positionCell = row.insertCell();
            if (gamblerPoints === lastPoints) {
                positionCell.innerText = String(lastPosition);
            } else {
                positionCell.innerText = String(index + 1);
                lastPosition = index + 1;
            }
            const gamblerCell = row.insertCell();
            gamblerCell.innerText = gamblers[gamblerIndex]["nickname"];
            const pointsCell = row.insertCell();
            pointsCell.innerText = String(gamblerPoints);
            lastPoints = gamblerPoints;
        }
    }
    {% if is_privileged %}
    let forms;
    let editmode;
    function deleteTournament(event) {
        if (editmode) {
            return;
        }
        const index = event.target.id;
        if (confirm("Il torneo " + tournaments[index]["name"] + " " + tournaments[index]["year"] + " verrà eliminato dalla lega. Continuare ?") !== true) {
            return;
        }
        Promise.all([
            sendRequest("DELETE", "/leagues/{{ league_index }}/tournaments/" + index)
        ]).then(function (values) {
            delete tournaments[index];
            updateTableTournaments();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function tournamentUpdate(event) {
        if (editmode) {
            return;
        }
        editmode = true;
        const table = document.getElementById("tournamentInsert");
        table.hidden = false;
        let row = table.insertRow();
        row.insertCell().innerText = "Nome";
        row.insertCell().innerText = "Anno";
        row.insertCell().innerText = "Nazione";
        row.insertCell().innerText = "Set";
        row.insertCell().innerText = "Tie-break al 5° set";
        row.insertCell().innerText = "Categoria";
        row.insertCell().innerText = "Tabellone";
        row.insertCell().innerText = "Ghost";
        row = table.insertRow();
        forms = Object();
        const nameCell = row.insertCell();
        const formName = document.createElement("input");
        formName.setAttribute("type", "text");
        formName.setAttribute("size", "15");
        nameCell.appendChild(formName);
        forms["name"] = formName;
        const yearCell = row.insertCell();
        const formYear = document.createElement("input");
        formYear.setAttribute("type", "text");
        formYear.setAttribute("size", "3");
        formYear.value = String((new Date()).getFullYear());
        yearCell.appendChild(formYear);
        forms["year"] = formYear;
        const nationCell = row.insertCell();
        const formNation = document.createElement("select");
        for (const key in nations) {
            if (nations[key]["name"] === "BYE") {
                continue;
            }
            const option = document.createElement("option");
            option.value = key;
            option.innerText = nations[key]["name"];
            formNation.appendChild(option);
        }
        nationCell.appendChild(formNation);
        forms["nation"] = formNation;
        const setCell = row.insertCell();
        const formSet = document.createElement("select");
        addOptions(formSet, [3, 5]);
        setCell.appendChild(formSet);
        forms["n_sets"] = formSet;
        const tieBreakCell = row.insertCell();
        const formTieBreak = document.createElement("select");
        formTieBreak.disabled = true;
        function setChange() {
            formTieBreak.disabled = formSet.value === "3";
        }
        formSet.onchange = setChange;
        addOptions(formTieBreak, ["Tie-break sul 6-6", "Tie-break sul 12-12", "Senza tie-break"]);
        tieBreakCell.appendChild(formTieBreak);
        forms["tie_breaker_5th"] = formTieBreak;
        const categoryCell = row.insertCell();
        const formCategory = document.createElement("select");
        addOptions(formCategory, ["GRAND SLAM", "MASTER 1000", "ATP FINALS", "OLIMPIADI", "ATP 500", "ATP 250"]);
        categoryCell.appendChild(formCategory);
        forms["category"] = formCategory;
        const drawCell = row.insertCell();
        const formDraw = document.createElement("select");
        addOptions(formDraw, ["Eliminazione-16", "Round Robin"]);
        drawCell.appendChild(formDraw);
        forms["draw_type"] = formDraw;
        const ghostCell = row.insertCell();
        const formGhost = document.createElement("input");
        formGhost.type = "checkbox";
        function ghostChange() {
            if (formGhost.checked === true) {
                formNation.disabled = true;
                formSet.disabled = true;
                formTieBreak.disabled = true;
                formCategory.disabled = true;
                formDraw.disabled = true;
            } else {
                formNation.disabled = false;
                formSet.disabled = false;
                formTieBreak.disabled = formSet.value === "3";
                formCategory.disabled = false;
                formDraw.disabled = false;
            }
        }
        formGhost.onchange = ghostChange;
        ghostCell.appendChild(formGhost);
        forms["ghost"] = formGhost;
        const button = document.getElementById("tournamentButton");
        button.innerText = "Invia";
        const cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreTournaments;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        document.getElementById("addGamblerButton").hidden = true;
        document.getElementById("removeGamblerButton").hidden = true;
        document.getElementById("inactiveGamblerButton").hidden = true;
        document.getElementById("activeGamblerButton").hidden = true;
        if (event != null) {
            const index = event.target.id;
            const tournament = tournaments[index];
            formName.value = tournament["name"];
            formName.disabled = true;
            formYear.value = tournament["year"];
            formYear.disabled = true;
            formNation.value = tournament["nation"];
            formSet.value = tournament["n_sets"];
            formSet.disabled = true;
            formTieBreak.value = tieBreaker2text(tournament["tie_breaker_5th"]);
            formTieBreak.disabled = true;
            formCategory.value = category2text(tournament["category"]);
            formCategory.disabled = true;
            formDraw.value = draw2text(tournament["draw_type"]);
            formDraw.disabled = true;
            formGhost.checked = tournament["is_ghost"];
            formGhost.disabled = true;
            button.onclick = function () {
                sendTournamentUpdate("PUT", "/leagues/{{ league_index }}/tournaments/" + index);
            };
        } else {
            button.onclick = function () {
                sendTournamentUpdate("POST", "/leagues/{{ league_index }}/tournaments");
            };
        }
    }
    function sendTournamentUpdate(method, url) {
        const requestJson = Object();
        if (!forms["name"].disabled) {
            requestJson["name"] = forms["name"].value.trim();
        }
        if (!forms["year"].disabled) {
            requestJson["year"] = forms["year"].value.trim();
        }
        if (!forms["nation"].disabled) {
            requestJson["nation_index"] = forms["nation"].value;
        }
        if (!forms["n_sets"].disabled) {
            requestJson["n_sets"] = forms["n_sets"].value;
            if (forms["n_sets"].value === "3") {
                requestJson["tie_breaker_5th"] = null;
            } else {
                requestJson["tie_breaker_5th"] = text2tieBreaker(forms["tie_breaker_5th"].value);
            }
        }
        if (!forms["category"].disabled) {
            requestJson["category"] = text2category(forms["category"].value);
        }
        if (!forms["draw_type"].disabled) {
            requestJson["draw_type"] = text2draw(forms["draw_type"].value);
        }
        if (!forms["ghost"].disabled) {
            requestJson["ghost"] = forms["ghost"].checked;
            if (requestJson["ghost"]) {
                const lastYearTournament = findLastYearTournament(requestJson["name"], parseInt(requestJson['year']));
                if (lastYearTournament == null) {
                    window.alert("Un torneo ghost deve avere un corrispondente torneo nell'anno precedente");
                    return;
                }
                requestJson["nation_index"] = lastYearTournament["nation"];
                requestJson["n_sets"] = lastYearTournament["n_sets"];
                requestJson["tie_breaker_5th"] = lastYearTournament["tie_breaker_5th"];
                requestJson["category"] = lastYearTournament["category"];
                requestJson["draw_type"] = lastYearTournament["draw_type"];
            }
        }
        Promise.all([
            sendRequest(method, url, requestJson)
        ]).then(function (values) {
            const updatedTournament = JSON.parse(values[0]);
            for (const key in updatedTournament) {
                tournaments[key] = updatedTournament[key];
            }
            restoreTournaments();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function findLastYearTournament(name, year) {
        for (const key in tournaments) {
            const tournament = tournaments[key];
            if (tournament["name"] === name && tournament["year"] === (year - 1)) {
                return tournament;
            }
        }
        return null;
    }
    function restoreTournaments() {
        const button = document.getElementById("tournamentButton");
        button.hidden = false;
        button.innerText = "Crea un torneo";
        button.onclick = function() {
            tournamentUpdate(null);
        };
        document.getElementById("cancelButton").remove();
        document.getElementById("tournamentInsert").innerText = "";
        document.getElementById("tournamentInsert").hidden = true;
        const addButton = document.getElementById("addGamblerButton");
        addButton.hidden = false;
        addButton.innerText = "Aggiungi uno scommettitore";
        addButton.onclick = addGambler;
        const removeButton = document.getElementById("removeGamblerButton");
        removeButton.hidden = false;
        removeButton.innerText = "Elimina uno scommettitore";
        removeButton.onclick = removeGambler;
        const inactiveButton = document.getElementById("inactiveGamblerButton");
        inactiveButton.hidden = false;
        inactiveButton.innerText = "Disattiva uno scommettitore";
        inactiveButton.onclick = inactiveGambler;
        const activeButton = document.getElementById("activeGamblerButton");
        activeButton.hidden = false;
        activeButton.innerText = "Attiva uno scommettitore";
        activeButton.onclick = activeGambler;
        const select = document.getElementById("gamblerSelect");
        select.innerHTML = "";
        select.hidden = true;
        forms = Object();
        editmode = false;
        updateButtons();
        updateTableTournaments();
    }
    function addOptions(form, array) {
        for (const index in array) {
            const option = document.createElement("option");
            option.value = array[index];
            option.innerText = array[index];
            form.appendChild(option);
        }
    }
    function updateButtons() {
        document.getElementById("addGamblerButton").disabled = getNonMemberGamblers().length === 0;
        document.getElementById("removeGamblerButton").disabled = getMemberGamblers().length === 0;
        document.getElementById("inactiveGamblerButton").disabled = getActiveGamblers().length === 0;
        document.getElementById("activeGamblerButton").disabled = getInactiveGamblers().length === 0;
    }
    function getMemberGamblers() {
        return Object.keys(leagueGamblers);
    }
    function getNonMemberGamblers() {
        const nonMemberGamblers = Array();
        for (const key in gamblers) {
            if (!(key in leagueGamblers)) {
                nonMemberGamblers.push(key);
            }
        }
        return nonMemberGamblers;
    }
    function getActiveGamblers() {
        const activeGamblers = Array();
        for (const key in leagueGamblerDetails) {
            if (leagueGamblerDetails[key]["is_active"]) {
                activeGamblers.push(key);
            }
        }
        return activeGamblers;
    }
    function getInactiveGamblers() {
        const inactiveGamblers = Array();
        for (const key in leagueGamblerDetails) {
            if (!leagueGamblerDetails[key]["is_active"]) {
                inactiveGamblers.push(key);
            }
        }
        return inactiveGamblers;
    }
    function addGambler() {
        const button = document.getElementById("addGamblerButton");
        button.innerText = "Invia";
        button.onclick = sendAddGambler;
        addGamblerOptions(getNonMemberGamblers());
        const cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreTournaments;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        document.getElementById("tournamentButton").hidden = true;
        document.getElementById("removeGamblerButton").hidden = true;
        document.getElementById("inactiveGamblerButton").hidden = true;
        document.getElementById("activeGamblerButton").hidden = true;
    }
    function removeGambler() {
        const button = document.getElementById("removeGamblerButton");
        button.innerText = "Invia";
        button.onclick = sendRemoveGambler;
        addGamblerOptions(getMemberGamblers());
        const cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreTournaments;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        document.getElementById("tournamentButton").hidden = true;
        document.getElementById("addGamblerButton").hidden = true;
        document.getElementById("inactiveGamblerButton").hidden = true;
        document.getElementById("activeGamblerButton").hidden = true;
    }
    function inactiveGambler() {
        const button = document.getElementById("inactiveGamblerButton");
        button.innerText = "Invia";
        button.onclick = function() {
            sendActiveGambler(false);
        };
        addGamblerOptions(getActiveGamblers());
        const cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreTournaments;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        document.getElementById("tournamentButton").hidden = true;
        document.getElementById("addGamblerButton").hidden = true;
        document.getElementById("removeGamblerButton").hidden = true;
        document.getElementById("activeGamblerButton").hidden = true;
    }
    function activeGambler() {
        const button = document.getElementById("activeGamblerButton");
        button.innerText = "Invia";
        button.onclick = function() {
            sendActiveGambler(true);
        };
        addGamblerOptions(getInactiveGamblers());
        const cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreTournaments;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        document.getElementById("tournamentButton").hidden = true;
        document.getElementById("addGamblerButton").hidden = true;
        document.getElementById("removeGamblerButton").hidden = true;
        document.getElementById("inactiveGamblerButton").hidden = true;
    }
    function addGamblerOptions(list) {
        const select = document.getElementById("gamblerSelect");
        for (const index in list) {
            const key = list[index];
            const option = document.createElement("option");
            option.value = key;
            option.innerText = gamblers[key]["nickname"];
            select.appendChild(option);
        }
        select.hidden = false;
    }
    function sendAddGambler() {
        const index = document.getElementById("gamblerSelect").value;
        Promise.all([
            sendRequest("POST", "/leagues/{{ league_index }}/gamblers/" + index, {"initial_score": 0, "initial_credit": 0})
        ]).then(function (values) {
            leagueGamblers[index] = gamblers[index]["id"];
            leagueGamblerDetails[index] = JSON.parse(values[0]);
            restoreTournaments();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function sendRemoveGambler() {
        const index = document.getElementById("gamblerSelect").value;
        if (confirm("Lo scommettitore " + gamblers[index]["nickname"] + " verrà eliminato dalla lega. Continuare ?") !== true) {
            return;
        }
        Promise.all([
            sendRequest("DELETE", "/leagues/{{ league_index }}/gamblers/" + index)
        ]).then(function (values) {
            delete leagueGamblers[index];
            delete leagueGamblerDetails[index];
            restoreTournaments();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function sendActiveGambler(isActive) {
        const index = document.getElementById("gamblerSelect").value;
        Promise.all([
            sendRequest("PUT", "/leagues/{{ league_index }}/gamblers/" + index, {"is_active": isActive})
        ]).then(function (values) {
            leagueGamblerDetails[index] = JSON.parse(values[0]);
            restoreTournaments();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    {% endif %}
    function randomColorGenerator() {
        return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
    }
    function plotRankingChart() {
        const labels = Array();
        for (const key in ranking["ranking_history"]) {
            labels.push(tournaments[key]["name"] + " " + tournaments[key]["year"]);
        }
        const data = {
            labels: labels
        };
        const datasets = Array();
        for (const gamblerKey in gamblers) {
            const gamblerColor = randomColorGenerator();
            const dataset = {
                label: gamblers[gamblerKey]["nickname"],
                backgroundColor: gamblerColor,
                borderColor: gamblerColor
            };
            const gamblerData = Array();
            let addGambler = false;
            for (const tournamentKey in ranking["ranking_history"]) {
                const currentRanking = ranking["ranking_history"][tournamentKey];
                const gamblerIndex = currentRanking.indexOf(parseInt(gamblerKey));
                if (gamblerIndex !== -1) {
                    addGambler = true;
                    gamblerData.push(gamblerIndex + 1);
                } else {
                    gamblerData.push(undefined);
                }
            }
            if (addGambler) {
                dataset["data"] = gamblerData;
                datasets.push(dataset);
            }
        }
        data['datasets'] = datasets;
        const config = {
            type: 'line',
            data: data,
            options: {
                scales: {
                    y: {
                        min: 1,
                        max: datasets.length,
                        reverse: true,
                        ticks: {
                            autoSkip: false,
                            stepSize: 1
                        }
                    }
                }
            }
        };
        new Chart(
            document.getElementById('rankingChart'),
            config
        );
    }
</script>
{% endblock %}

{% block content %}
<h1 id="mainHeader"></h1>
{% if is_privileged %}
<button id="tournamentButton" onclick="tournamentUpdate(null)">Crea un torneo</button>
<button id="addGamblerButton" onclick="addGambler()">Aggiungi uno scommettitore</button>
<button id="removeGamblerButton" onclick="removeGambler()">Elimina uno scommettitore</button>
<button id="inactiveGamblerButton" onclick="inactiveGambler()">Disattiva uno scommettitore</button>
<button id="activeGamblerButton" onclick="activeGambler()">Attiva uno scommettitore</button>
<select id="gamblerSelect" hidden></select>
<table id="tournamentInsert" hidden></table>
{% endif %}
<div id="tournamentDiv">
    <h2>Tornei</h2>
    <table class="styled-table">
        <thead>
        <tr>
            <td>Nome</td>
            <td>Anno</td>
            <td>Nazione</td>
            <td>Bandiera</td>
            <td>Set</td>
            <td>Tie-break al 5° set</td>
            <td>Categoria</td>
            <td>Tabellone</td>
            <td>Vincitore</td>
            <td id="winnerLeague"></td>
            {% if is_privileged %}
                <td>Ghost</td>
                <td></td>
            {% endif %}
        </tr>
        </thead>
        <tbody id="tableTournamentsBody">
        </tbody>
    </table>
</div>
<div>
    <div class="floatRankings">
        <h2>Ranking</h2>
        <table class="styled-table">
            <thead>
            <tr>
                <td>Posizione</td>
                <td>Scommettitore</td>
                <td>Punti</td>
            </tr>
            </thead>
            <tbody id="tableRankingBody">
            </tbody>
        </table>
    </div>
    <div class="floatRankings">
    <h2 id="raceTitle"></h2>
        <table id="tableRace" class="styled-table">
            <thead>
            <tr>
                <td>Posizione</td>
                <td>Scommettitore</td>
                <td>Punti</td>
            </tr>
            </thead>
            <tbody id="tableRaceBody">
            </tbody>
        </table>
    </div>
    <div class="floatRankings">
        <h2 id="Palmarès"></h2>
        <table id="tableWinnersRecord" class="styled-table">
        </table>
    </div>
</div>
    <div>
        <canvas id="rankingChart"></canvas>
    </div>
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
{% endblock %}
