{% extends "base.html" %}

{% block title_content %}
    <title></title>
{% endblock %}

{% block script_content %}
<script>
    window.onload = updatePage;
    var leagues;
    var gamblers;
    var players;
    var nations;
    var ranking;
    var tournaments;
    var leagueGamblers;
    var leagueGamblerDetails;
    function category2text(category) {
        if (category == "GRAND_SLAM") {
            return "GRAND SLAM";
        } else if (category == "MASTER_1000") {
            return "MASTER 1000";
        } else if (category == "ATP_FINALS") {
            return "ATP FINALS";
        } else if (category == "OLYMPICS") {
            return "OLIMPIADI";
        } else if (category == "ATP_500") {
            return "ATP 500";
        } else if (category == "ATP_250") {
            return "ATP 250";
        } else {
            return "/";
        }
    }
    function text2category(text) {
        if (text == "GRAND SLAM") {
            return "GRAND_SLAM";
        } else if (text == "MASTER 1000") {
            return "MASTER_1000";
        } else if (text == "ATP FINALS") {
            return "ATP_FINALS";
        } else if (text == "OLIMPIADI") {
            return "OLYMPICS";
        } else if (text == "ATP 500") {
            return "ATP_500";
        } else if (text == "ATP 250") {
            return "ATP_250";
        } else {
            throw "Unknown category description: " + text;
        }
    }
    function callLeagues() {
        return new Promise(function(resolve, reject) {
            var leaguesRequest = new XMLHttpRequest();
            leaguesRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            leaguesRequest.open("GET", "/leagues", true);
            leaguesRequest.send();
        })
    }
    function callGamblers() {
        return new Promise(function(resolve, reject) {
            var gamblersRequest = new XMLHttpRequest();
            gamblersRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            gamblersRequest.open("GET", "/gamblers", true);
            gamblersRequest.send();
        })
    }
    function callPlayers() {
        return new Promise(function(resolve, reject) {
            var playersRequest = new XMLHttpRequest();
            playersRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            playersRequest.open("GET", "/players", true);
            playersRequest.send();
        })
    }
    function callNations() {
        return new Promise(function(resolve, reject) {
            var nationsRequest = new XMLHttpRequest();
            nationsRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            nationsRequest.open("GET", "/nations", true);
            nationsRequest.send();
        })
    }
    function callRanking() {
        return new Promise(function(resolve, reject) {
            var rankingRequest = new XMLHttpRequest();
            rankingRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            rankingRequest.open("GET", "/leagues/{{ league_index }}/ranking", true);
            rankingRequest.send();
        })
    }
    function callTournaments() {
        return new Promise(function(resolve, reject) {
            var tournamentsRequest = new XMLHttpRequest();
            tournamentsRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            tournamentsRequest.open("GET", "/leagues/{{ league_index }}/tournaments", true);
            tournamentsRequest.send();
        })
    }
    function callLeagueGamblerDetails(key) {
        var promise = new Promise(function(resolve, reject) {
            var leagueGamblerDetailsRequest = new XMLHttpRequest();
            leagueGamblerDetailsRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve({"key": key, "response": this.responseText});
                    } else {
                        reject({"key": key, "response": this.responseText});
                    }
                }
            };
            leagueGamblerDetailsRequest.open("GET", "/leagues/{{ league_index }}/gamblers/" + key, true);
            leagueGamblerDetailsRequest.send();
        });
        return promise;
    }
    function updatePage() {
        Promise.all([callLeagues(), callGamblers(), callPlayers(), callNations(), callRanking(), callTournaments(), callLeagueGamblers()]).then(function (values) {
            leagues = JSON.parse(values[0]);
            gamblers = JSON.parse(values[1]);
            players = JSON.parse(values[2]);
            nations = JSON.parse(values[3]);
            ranking = JSON.parse(values[4]);
            tournaments = JSON.parse(values[5]);
            leagueGamblers = JSON.parse(values[6]);
            updateTitles();
            updateTableTournaments();
            updateTablesRanking();
            updateTableWinnersRecord();
            plotRankingChart();
            leagueGamblerDetails = Object();
            all_details_promises = Array();
            for (key in leagueGamblers) {
                all_details_promises.push(callLeagueGamblerDetails(key));
            }
            Promise.all(all_details_promises).then(function (values) {
                for (var index in values) {
                    var responseObject = values[index];
                    leagueGamblerDetails[responseObject["key"]] = JSON.parse(responseObject["response"]);
                }
                {% if is_privileged %}
                updateButtons();
                {% endif %}
            }).catch(function (reason) {
                window.alert(reason);
            });
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function updateTableWinnersRecord() {
        table = document.getElementById("tableWinnersRecord");
        var header = table.createTHead();
        var headerRow = header.insertRow(0);
        cell = headerRow.insertCell();
        var tournamentNames = Array();
        for (key in ranking["record_tournament"]) {
            tournament_object = ranking["record_tournament"][key]
            for (tournamentName in tournament_object) {
                if (!tournamentNames.includes(tournamentName)) {
                    tournamentNames.push(tournamentName);
                }
            }
        }
        var categoryNames = Array();
        for (key in ranking["record_category"]) {
            category_object = ranking["record_category"][key]
            for (categoryName in category_object) {
                if (!categoryNames.includes(categoryName)) {
                    categoryNames.push(categoryName);
                }
            }
        }
        for (index in tournamentNames) {
            cell = headerRow.insertCell();
            cell.innerText = tournamentNames[index];
        }
        for (index in categoryNames) {
            cell = headerRow.insertCell();
            cell.innerText = category2text(categoryNames[index]);
        }
        cell = headerRow.insertCell();
        cell.innerText = "Totale";
        var body = table.createTBody();
        current_season_year = tournaments[ranking["last_tournament"]]["year"];
        for (key in ranking["record_tournament"]) {
            const row = body.insertRow();
            const name_cell = row.insertCell();
            name_cell.innerText = gamblers[key]["nickname"];
            total = 0;
            total_current_season = false;
            for (var index in tournamentNames) {
                cell = row.insertCell();
                if (tournamentNames[index] in ranking["record_tournament"][key]) {
                    cell.innerText = ranking["record_tournament"][key][tournamentNames[index]];
                    if (check_name_current_season(key, tournamentNames[index], current_season_year)) {
                        total_current_season = true;
                        cell.className = 'currentSeason';
                    }
                    total += ranking["record_tournament"][key][tournamentNames[index]];
                } else {
                    cell.innerText = "0";
                }
            }
            for (var index in categoryNames) {
                cell = row.insertCell();
                if (categoryNames[index] in ranking["record_category"][key]) {
                    cell.innerText = ranking["record_category"][key][categoryNames[index]];
                    if (check_category_current_season(key, categoryNames[index], current_season_year)) {
                        cell.className = 'currentSeason';
                    }
                } else {
                    cell.innerText = "0";
                }
            }
            cell = row.insertCell();
            cell.innerText = total;
            if (total_current_season) {
                cell.className = 'currentSeason';
            }
        }
    }
    function check_name_current_season(gambler, name, year) {
        for (var index in tournaments) {
            var tournament = tournaments[index];
            if (tournament["name"] == name && tournament["year"] == year && ranking["winners"][index] == gambler) {
                return true;
            }
        }
        return false;
    }
    function check_category_current_season(gambler, category, year) {
        for (var index in tournaments) {
            var tournament = tournaments[index];
            if (tournament["category"] == category && tournament["year"] == year && ranking["winners"][index] == gambler) {
                return true;
            }
        }
        return false;
    }
    function updateTitles() {
        document.getElementById("mainHeader").innerText = leagues["{{ league_index }}"]["name"];
        document.getElementById("winnerLeague").innerText = "Vincitore\n" + leagues["{{ league_index }}"]["name"];
        document.title = leagues["{{ league_index }}"]["name"];
    }
    function updateTableTournaments() {
        table = document.getElementById("tableTournamentsBody");
        index = 0;
        for (var key in tournaments) {
            {% if not is_privileged %}
            if (tournaments[key]["is_ghost"]) {
                continue;
            }
            {% endif %}
            const row = table.insertRow();
            const name_cell = row.insertCell();
            name_link = document.createElement("a");
            name_link.innerText = tournaments[key]["name"];
            name_link.setAttribute("href", "/web/leagues/{{ league_index }}/tournaments/" + index);
            name_cell.appendChild(name_link);
            if (!tournaments[key]["is_open"]) {
                lock = document.createElement("img");
                lock.src = "/static/lock.png";
                name_link.innerText += "   ";
                name_link.appendChild(lock);
            }
            const year_cell = row.insertCell();
            year_cell.innerText = tournaments[key]["year"];
            const nation_code_cell = row.insertCell();
            nation_code_cell.innerText = nations[tournaments[key]["nation"]].code;
            const flag_cell = row.insertCell();
            const img = document.createElement('img');
            img.src = '/static/flags/' + nations[tournaments[key]["nation"]].code + '.png';
            img.setAttribute("class", "bordered");
            flag_cell.appendChild(img);
            const n_sets_cell = row.insertCell();
            n_sets_cell.innerText = tournaments[key]["n_sets"];
            const tie_breaker_cell = row.insertCell();
            tie_breaker = tournaments[key]["tie_breaker_5th"];
            if (tie_breaker == "TIE_BREAKER_AT_7") {
                tie_breaker_cell.innerText = "Tie-break sul 6-6";
            } else if (tie_breaker == "TIE_BREAKER_AT_13") {
                tie_breaker_cell.innerText = "Tie-break sul 12-12";
            } else if (tie_breaker == "NO_TIE_BREAKER") {
                tie_breaker_cell.innerText = "Senza tie-break";
            }
            const category_cell = row.insertCell();
            category = tournaments[key]["category"];
            category_cell.innerText = category2text(category);
            const draw_cell = row.insertCell();
            draw = tournaments[key]["draw_type"];
            if (draw == "Draw16") {
                draw_cell.innerText = "Eliminazione-16"
            } else if (draw == "DrawRoundRobin") {
                draw_cell.innerText = "Round Robin";
            }
            const player_winner_cell = row.insertCell();
            const player_winner = tournaments[key]["winner"] != null ? players[tournaments[key]["winner"]] : null;
            if (player_winner != null) {
                player_winner_cell.innerText = player_winner["name"] + " " + player_winner["surname"];
            } else {
                player_winner_cell.innerText = "/";
            }
            const gambler_winner_cell = row.insertCell();
            const gambler_winner = key in ranking["winners"] ? gamblers[ranking["winners"][key]] : null;
            if (gambler_winner != null) {
                gambler_winner_cell.innerText = gambler_winner["nickname"];
            } else {
                gambler_winner_cell.innerText = "/";
            }
            {% if is_privileged %}
                const ghost_cell = row.insertCell();
                if (tournaments[key]["is_ghost"]) {
                    ghost_cell.innerText = "GHOST";
                }
            {% endif %}
            index += 1;
        }
    }
    function updateTablesRanking() {
        table = document.getElementById("tableRankingBody");
        ranking_scores = ranking["ranking_scores"];
        ranking_scores_array = Object.entries(ranking_scores);
        ranking_scores_array.sort(function(first_pair, second_pair) {
            return first_pair[1] - second_pair[1];
        });
        ranking_scores_array.reverse();
        var last_position = undefined;
        var last_points = undefined;
        for (index = 0; index < ranking_scores_array.length; index++) {
            const pair = ranking_scores_array[index];
            const gambler_index = pair[0];
            const gambler_points = pair[1];
            const row = table.insertRow();
            const position_cell = row.insertCell();
            if (gambler_points == last_points) {
                position_cell.innerText = last_position;
            } else {
                position_cell.innerText = index + 1;
                last_position = index + 1;
            }
            const gambler_cell = row.insertCell();
            gambler_cell.innerText = gamblers[gambler_index]["nickname"];
            const points_cell = row.insertCell();
            points_cell.innerText = gambler_points;
            last_points = gambler_points;
        }
        table = document.getElementById("tableRaceBody");
        yearly_scores = ranking["yearly_scores"];
        years = Object.keys(yearly_scores).map(x => parseInt(x));
        if (years.length == 0) {
            document.getElementById("tableRace").remove();
            return;
        }
        last_year = Math.max(...years);
        document.getElementById("raceTitle").innerText = "Race " + last_year;
        yearly_scores_array = Object.entries(yearly_scores[last_year]);
        yearly_scores_array.sort(function(first_pair, second_pair) {
            return first_pair[1] - second_pair[1];
        });
        yearly_scores_array.reverse();
        last_position = undefined;
        last_points = undefined;
        for (index = 0; index < yearly_scores_array.length; index++) {
            const pair = yearly_scores_array[index];
            const gambler_index = pair[0];
            const gambler_points = pair[1];
            const row = table.insertRow();
            const position_cell = row.insertCell();
            if (gambler_points == last_points) {
                position_cell.innerText = last_position;
            } else {
                position_cell.innerText = index + 1;
                last_position = index + 1;
            }
            const gambler_cell = row.insertCell();
            gambler_cell.innerText = gamblers[gambler_index]["nickname"];
            const points_cell = row.insertCell();
            points_cell.innerText = gambler_points;
            last_points = gambler_points;
        }
    }
    function callLeagueGamblers() {
        return new Promise(function(resolve, reject) {
            var leagueGamblersRequest = new XMLHttpRequest();
            leagueGamblersRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            leagueGamblersRequest.open("GET", "/leagues/{{ league_index }}/gamblers", true);
            leagueGamblersRequest.send();
        })
    }
    {% if is_privileged %}
    var forms;
    function newTournament() {
        table = document.getElementById("tournamentInsert");
        table.hidden = false;
        row = table.insertRow();
        row.insertCell().innerText = "Nome";
        row.insertCell().innerText = "Anno";
        row.insertCell().innerText = "Nazione";
        row.insertCell().innerText = "Set";
        row.insertCell().innerText = "Tie-break al 5° set";
        row.insertCell().innerText = "Categoria";
        row.insertCell().innerText = "Tabellone";
        row.insertCell().innerText = "Ghost";
        row = table.insertRow();
        forms = Object();
        name_cell = row.insertCell();
        let form_name = document.createElement("input");
        form_name.setAttribute("type", "text");
        form_name.setAttribute("size", 15);
        name_cell.appendChild(form_name);
        forms["name"] = form_name;
        year_cell = row.insertCell();
        let form_year = document.createElement("input");
        form_year.setAttribute("type", "text");
        form_year.setAttribute("size", 3);
        form_year.value = new Date().getFullYear();
        year_cell.appendChild(form_year);
        forms["year"] = form_year;
        nation_cell = row.insertCell();
        let form_nation = document.createElement("select");
        for (key in nations) {
            if (nations[key]["name"] == "BYE") {
                continue;
            }
            var option = document.createElement("option");
            option.value = key;
            option.innerText = nations[key]["name"];
            form_nation.appendChild(option);
        }
        nation_cell.appendChild(form_nation);
        forms["nation"] = form_nation;
        set_cell = row.insertCell();
        let form_set = document.createElement("select");
        addOptions(form_set, [3, 5]);
        set_cell.appendChild(form_set);
        forms["n_sets"] = form_set;
        tie_break_cell = row.insertCell();
        let form_tie_break = document.createElement("select");
        form_tie_break.disabled = true;
        function set_change() {
            if (form_set.value == 3) {
                form_tie_break.disabled = true;
            } else {
                form_tie_break.disabled = false;
            }
        }
        form_set.onchange = set_change;
        addOptions(form_tie_break, ["Tie-break sul 6-6", "Tie-break sul 12-12", "Senza tie-break"]);
        tie_break_cell.appendChild(form_tie_break);
        forms["tie_breaker_5th"] = form_tie_break;
        category_cell = row.insertCell();
        let form_category = document.createElement("select");
        addOptions(form_category, ["GRAND SLAM", "MASTER 1000", "ATP FINALS", "OLIMPIADI", "ATP 500", "ATP 250"]);
        category_cell.appendChild(form_category);
        forms["category"] = form_category;
        draw_cell = row.insertCell();
        let form_draw = document.createElement("select");
        addOptions(form_draw, ["Eliminazione-16", "Round Robin"]);
        draw_cell.appendChild(form_draw);
        forms["draw_type"] = form_draw;
        ghost_cell = row.insertCell();
        let form_ghost = document.createElement("input");
        form_ghost.type = "checkbox";
        function ghost_change() {
            if (form_ghost.checked == true) {
                form_nation.disabled = true;
                form_set.disabled = true;
                form_tie_break.disabled = true;
                form_category.disabled = true;
                form_draw.disabled = true;
            } else {
                form_nation.disabled = false;
                form_set.disabled = false;
                form_tie_break.disabled = form_set.value == 3;
                form_category.disabled = false;
                form_draw.disabled = false;
            }
        }
        form_ghost.onchange = ghost_change;
        ghost_cell.appendChild(form_ghost);
        forms["ghost"] = form_ghost;
        button = document.getElementById("tournamentButton");
        button.innerText = "Invia";
        button.onclick = sendTournament;
        cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreTournaments;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        document.getElementById("addGamblerButton").hidden = true;
        document.getElementById("removeGamblerButton").hidden = true;
        document.getElementById("inactiveGamblerButton").hidden = true;
        document.getElementById("activeGamblerButton").hidden = true;
    }
    function sendTournament() {
        requestJson = Object();
        requestJson["name"] = forms["name"].value.trim();
        requestJson["year"] = forms["year"].value.trim();
        requestJson["nation_index"] = forms["nation"].value;
        requestJson["n_sets"] = forms["n_sets"].value;
        if (forms["n_sets"].value == 3) {
            requestJson["tie_breaker_5th"] = null;
        } else if (forms["tie_breaker_5th"].value == "Tie-break sul 6-6") {
            requestJson["tie_breaker_5th"] = "TIE_BREAKER_AT_7";
        } else if (forms["tie_breaker_5th"].value == "Tie-break sul 12-12") {
            requestJson["tie_breaker_5th"] = "TIE_BREAKER_AT_13";
        } else if (forms["tie_breaker_5th"].value == "Senza tie-break") {
            requestJson["tie_breaker_5th"] = "NO_TIE_BREAKER";
        }
        requestJson["category"] = text2category(forms["category"].value);
        if (forms["draw_type"].value == "Eliminazione-16") {
            requestJson["draw_type"] = "Draw16"
        } else if (forms["draw_type"].value == "Round Robin") {
            requestJson["draw_type"] = "DrawRoundRobin";
        }
        requestJson["previous_year_scores"] = null;
        requestJson["ghost"] = forms["ghost"].checked;

        Promise.all([sendTournamentRequest(requestJson)]).then(function (values) {
            new_tournament = JSON.parse(values[0]);
            for (key in new_tournament) {
                tournaments[key] = new_tournament[key];
            }
            restoreTournaments();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function sendTournamentRequest(requestJson) {
        return new Promise(function (resolve, reject) {
            var postRequest = new XMLHttpRequest();
            postRequest.onreadystatechange = function () {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            postRequest.open("POST", "/leagues/{{ league_index }}/tournaments", true);
            postRequest.setRequestHeader("Content-Type", "application/json");
            postRequest.send(JSON.stringify(requestJson));
        })
    }
    function sendDeleteRequest(index) {
        return new Promise(function (resolve, reject) {
            var deleteRequest = new XMLHttpRequest();
            deleteRequest.onreadystatechange = function () {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            deleteRequest.open("DELETE", "/leagues/{{ league_index }}/tournaments/" + index, true);
            deleteRequest.send();
        })
    }
    function restoreTournaments() {
        var button = document.getElementById("tournamentButton");
        button.hidden = false;
        button.innerText = "Crea un torneo";
        button.onclick = newTournament;
        document.getElementById("cancelButton").remove();
        document.getElementById("tournamentInsert").innerText = "";
        document.getElementById("tournamentInsert").hidden = true;
        button = document.getElementById("addGamblerButton");
        button.hidden = false;
        button.innerText = "Aggiungi uno scommettitore";
        button.onclick = addGambler;
        button = document.getElementById("removeGamblerButton");
        button.hidden = false;
        button.innerText = "Elimina uno scommettitore";
        button.onclick = removeGambler;
        button = document.getElementById("inactiveGamblerButton");
        button.hidden = false;
        button.innerText = "Disattiva uno scommettitore";
        button.onclick = inactiveGambler;
        button = document.getElementById("activeGamblerButton");
        button.hidden = false;
        button.innerText = "Attiva uno scommettitore";
        button.onclick = activeGambler;
        var select = document.getElementById("gamblerSelect");
        select.innerHTML = "";
        select.hidden = true;
        forms = Object();
        updateButtons();
        updateTableTournaments();
    }
    function addOptions(form, array) {
        for (index in array) {
            option = document.createElement("option");
            option.value = array[index];
            option.innerText = array[index];
            form.appendChild(option);
        }
    }
    function updateButtons() {
        document.getElementById("addGamblerButton").disabled = getNonMemberGamblers().length == 0;
        document.getElementById("removeGamblerButton").disabled = getMemberGamblers().length == 0;
        document.getElementById("inactiveGamblerButton").disabled = getActiveGamblers().length == 0;
        document.getElementById("activeGamblerButton").disabled = getInactiveGamblers().length == 0;
    }
    function getMemberGamblers() {
        return Object.keys(leagueGamblers);
    }
    function getNonMemberGamblers() {
        var nonMemberGamblers = Array();
        for (var key in gamblers) {
            if (!(key in leagueGamblers)) {
                nonMemberGamblers.push(key);
            }
        }
        return nonMemberGamblers;
    }
    function getActiveGamblers() {
        var activeGamblers = Array();
        for (var key in leagueGamblerDetails) {
            if (leagueGamblerDetails[key]["is_active"]) {
                activeGamblers.push(key);
            }
        }
        return activeGamblers;
    }
    function getInactiveGamblers() {
        var inactiveGamblers = Array();
        for (var key in leagueGamblerDetails) {
            if (!leagueGamblerDetails[key]["is_active"]) {
                inactiveGamblers.push(key);
            }
        }
        return inactiveGamblers;
    }
    function addGambler() {
        var button = document.getElementById("addGamblerButton");
        button.innerText = "Invia";
        button.onclick = sendAddGambler;
        cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreTournaments;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        document.getElementById("tournamentButton").hidden = true;
        document.getElementById("removeGamblerButton").hidden = true;
        document.getElementById("inactiveGamblerButton").hidden = true;
        document.getElementById("activeGamblerButton").hidden = true;
        addGamblerOptions(getNonMemberGamblers());
    }
    function removeGambler() {
        var button = document.getElementById("removeGamblerButton");
        button.innerText = "Invia";
        button.onclick = sendRemoveGambler;
        cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreTournaments;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        document.getElementById("tournamentButton").hidden = true;
        document.getElementById("addGamblerButton").hidden = true;
        document.getElementById("inactiveGamblerButton").hidden = true;
        document.getElementById("activeGamblerButton").hidden = true;
        addGamblerOptions(getMemberGamblers());
    }
    function inactiveGambler() {
        var button = document.getElementById("inactiveGamblerButton");
        button.innerText = "Invia";
        button.onclick = sendInactiveGambler;
        cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreTournaments;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        document.getElementById("tournamentButton").hidden = true;
        document.getElementById("addGamblerButton").hidden = true;
        document.getElementById("removeGamblerButton").hidden = true;
        document.getElementById("activeGamblerButton").hidden = true;
        addGamblerOptions(getActiveGamblers());
    }
    function activeGambler() {
        var button = document.getElementById("activeGamblerButton");
        button.innerText = "Invia";
        button.onclick = sendActiveGambler;
        cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreTournaments;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        document.getElementById("tournamentButton").hidden = true;
        document.getElementById("addGamblerButton").hidden = true;
        document.getElementById("removeGamblerButton").hidden = true;
        document.getElementById("inactiveGamblerButton").hidden = true;
        addGamblerOptions(getInactiveGamblers());
    }
    function addGamblerOptions(list) {
        var select = document.getElementById("gamblerSelect");
        for (var index in list) {
            var key = list[index];
            var option = document.createElement("option");
            option.value = key;
            option.innerText = gamblers[key]["nickname"];
            select.appendChild(option);
        }
        select.hidden = false;
    }
    function sendAddGambler() {
        var selected = document.getElementById("gamblerSelect").value;
        Promise.all([sendGamblerRequest(selected, "POST", {"initial_score": 0, "initial_credit": 0})]).then(function (values) {
            leagueGamblers[selected] = gamblers[selected]["id"];
            leagueGamblerDetails[selected] = JSON.parse(values[0]);
            restoreTournaments();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function sendRemoveGambler() {
        var selected = document.getElementById("gamblerSelect").value;
        if (confirm("Lo scommettitore nazione " + gamblers[selected]["nickname"] + " verrà eliminato dalla lega. Continuare ?") != true) {
            return;
        }
        Promise.all([sendGamblerRequest(selected, "DELETE", null)]).then(function (values) {
            delete leagueGamblers[selected];
            delete leagueGamblerDetails[selected];
            restoreTournaments();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function sendInactiveGambler() {
        var selected = document.getElementById("gamblerSelect").value;
        Promise.all([sendGamblerRequest(selected, "PUT", {"is_active": false})]).then(function (values) {
            leagueGamblerDetails[selected] = JSON.parse(values[0]);
            restoreTournaments();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function sendActiveGambler() {
        var selected = document.getElementById("gamblerSelect").value;
        Promise.all([sendGamblerRequest(selected, "PUT", {"is_active": true})]).then(function (values) {
            leagueGamblerDetails[selected] = JSON.parse(values[0]);
            restoreTournaments();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function sendGamblerRequest(index, method, requestJson) {
        return new Promise(function (resolve, reject) {
            var gamblerRequest = new XMLHttpRequest();
            gamblerRequest.onreadystatechange = function () {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            gamblerRequest.open(method, "/leagues/{{ league_index }}/gamblers/" + index, true);
            gamblerRequest.setRequestHeader("Content-Type", "application/json");
            gamblerRequest.send(JSON.stringify(requestJson));
        })
    }
    {% endif %}
</script>
{% endblock %}

{% block content %}
<h1 id="mainHeader"></h1>
{% if is_privileged %}
<button id="tournamentButton" onclick="newTournament()">Crea un torneo</button>
<button id="addGamblerButton" onclick="addGambler()">Aggiungi uno scommettitore</button>
<button id="removeGamblerButton" onclick="removeGambler()">Elimina uno scommettitore</button>
<button id="inactiveGamblerButton" onclick="inactiveGambler()">Disattiva uno scommettitore</button>
<button id="activeGamblerButton" onclick="activeGambler()">Attiva uno scommettitore</button>
<select id="gamblerSelect" hidden="true"></select>
<table id="tournamentInsert" hidden="true"></table>
{% endif %}
<div id="tournamentDiv">
    <h2>Tornei</h2>
    <table class="styled-table">
        <thead>
        <tr>
            <td>Nome</td>
            <td>Anno</td>
            <td>Nazione</td>
            <td>Bandiera</td>
            <td>Set</td>
            <td>Tie-break al 5° set</td>
            <td>Categoria</td>
            <td>Tabellone</td>
            <td>Vincitore</td>
            <td id="winnerLeague"></td>
            {% if is_privileged %}
                <td>Ghost</td>
            {% endif %}
        </tr>
        </thead>
        <tbody id="tableTournamentsBody">
        </tbody>
    </table>
</div>
<div>
    <div class="floatRankings">
        <h2>Ranking</h2>
        <table class="styled-table">
            <thead>
            <tr>
                <td>Posizione</td>
                <td>Scommettitore</td>
                <td>Punti</td>
            </tr>
            </thead>
            <tbody id="tableRankingBody">
            </tbody>
        </table>
    </div>
    <div class="floatRankings">
    <h2 id="raceTitle"></h2>
        <table id="tableRace" class="styled-table">
            <thead>
            <tr>
                <td>Posizione</td>
                <td>Scommettitore</td>
                <td>Punti</td>
            </tr>
            </thead>
            <tbody id="tableRaceBody">
            </tbody>
        </table>
    </div>
    <div class="floatRankings">
        <h2 id="Palmarès"></h2>
        <table id="tableWinnersRecord" class="styled-table">
        </table>
    </div>
</div>
    <div>
        <canvas id="rankingChart"></canvas>
    </div>
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script>
    function randomColorGenerator() {
        return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
    };
    function plotRankingChart() {
        labels = Array();
        for (key in ranking["ranking_history"]) {
            labels.push(tournaments[key]["name"] + " " + tournaments[key]["year"]);
        }
        data = {
            labels: labels
        };
        datasets = Array();
        for (gambler_key in gamblers) {
            gambler_color = randomColorGenerator();
            dataset = {
                label: gamblers[gambler_key]["nickname"],
                backgroundColor: gambler_color,
                borderColor: gambler_color
            };
            gambler_data = Array();
            add_gambler = false;
            for (tournament_key in ranking["ranking_history"]) {
                var current_ranking = ranking["ranking_history"][tournament_key];
                gambler_index = current_ranking.indexOf(parseInt(gambler_key));
                if (gambler_index != -1) {
                    add_gambler = true;
                    gambler_data.push(gambler_index + 1);
                } else {
                    gambler_data.push(undefined);
                }
            }
            if (add_gambler) {
                dataset["data"] = gambler_data;
                datasets.push(dataset);
            }
        }
        data['datasets'] = datasets;
        const config = {
            type: 'line',
            data: data,
            options: {
                scales: {
                    y: {
                        min: 1,
                        max: datasets.length,
                        reverse: true,
                        ticks: {
                            autoSkip: false,
                            stepSize: 1
                        }
                    }
                }
            }
        };
        const myChart = new Chart(
            document.getElementById('rankingChart'),
            config
        );
    }
    </script>
{% endblock %}
