{% extends "base.html" %}

{% block title_content %}
    <title></title>
{% endblock %}

{% block script_content %}
<script>
    window.onload = updatePage;
    let leagues;
    let gamblers;
    let players;
    let nations;
    let ranking;
    let tournaments;
    let leagueGamblers;
    let leagueGamblerDetails;
    function updatePage() {
        Promise.all([
            sendRequest("GET", "/leagues"),
            sendRequest("GET", "/gamblers"),
            sendRequest("GET", "/players"),
            sendRequest("GET", "/nations"),
            sendRequest("GET", "/leagues/{{ league_index }}/ranking"),
            sendRequest("GET", "/leagues/{{ league_index }}/tournaments"),
            sendRequest("GET", "/leagues/{{ league_index }}/gamblers")
        ]).then(function (values) {
            leagues = JSON.parse(values[0]);
            gamblers = JSON.parse(values[1]);
            players = JSON.parse(values[2]);
            nations = JSON.parse(values[3]);
            ranking = JSON.parse(values[4]);
            tournaments = JSON.parse(values[5]);
            leagueGamblers = JSON.parse(values[6]);
            updateTitles();
            updateTableTournaments();
            updateTablesRanking();
            updateTableWinnersRecord();
            plotRankingChart();
            leagueGamblerDetails = Object();
            const all_details_promises = Array();
            for (const key in leagueGamblers) {
                all_details_promises.push(
                    sendRequest("GET", "/leagues/{{ league_index }}/gamblers/" + key, null, key)
                );
            }
            Promise.all(all_details_promises).then(function (values) {
                for (const index in values) {
                    const responseObject = values[index];
                    leagueGamblerDetails[responseObject["key"]] = JSON.parse(responseObject["response"]);
                }
                {% if is_privileged %}
                updateButtons();
                {% endif %}
            }).catch(function (reason) {
                window.alert(reason);
            });
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function updateTableWinnersRecord() {
        const table = document.getElementById("tableWinnersRecord");
        const header = table.createTHead();
        const headerRow = header.insertRow(0);
        let cell = headerRow.insertCell();
        const tournamentNames = Array();
        for (const key in ranking["record_tournament"]) {
            const tournament_object = ranking["record_tournament"][key];
            for (const tournamentName in tournament_object) {
                if (!tournamentNames.includes(tournamentName)) {
                    tournamentNames.push(tournamentName);
                }
            }
        }
        const categoryNames = Array();
        for (const key in ranking["record_category"]) {
            const category_object = ranking["record_category"][key];
            for (const categoryName in category_object) {
                if (!categoryNames.includes(categoryName)) {
                    categoryNames.push(categoryName);
                }
            }
        }
        for (const index in tournamentNames) {
            cell = headerRow.insertCell();
            cell.innerText = tournamentNames[index];
        }
        for (const index in categoryNames) {
            cell = headerRow.insertCell();
            cell.innerText = category2text(categoryNames[index]);
        }
        cell = headerRow.insertCell();
        cell.innerText = "Totale";
        const body = table.createTBody();
        let current_season_year;
        if (ranking["last_tournament"] != null) {
            current_season_year = tournaments[ranking["last_tournament"]]["year"];
        } else {
            current_season_year = null;
        }
        for (const key in ranking["record_tournament"]) {
            const row = body.insertRow();
            const name_cell = row.insertCell();
            name_cell.innerText = gamblers[key]["nickname"];
            let total = 0;
            let total_current_season = false;
            for (const index in tournamentNames) {
                cell = row.insertCell();
                if (tournamentNames[index] in ranking["record_tournament"][key]) {
                    cell.innerText = ranking["record_tournament"][key][tournamentNames[index]];
                    if (current_season_year != null && check_name_current_season(key, tournamentNames[index], current_season_year)) {
                        total_current_season = true;
                        cell.className = 'currentSeason';
                    }
                    total += ranking["record_tournament"][key][tournamentNames[index]];
                } else {
                    cell.innerText = "0";
                }
            }
            for (const index in categoryNames) {
                cell = row.insertCell();
                if (categoryNames[index] in ranking["record_category"][key]) {
                    cell.innerText = ranking["record_category"][key][categoryNames[index]];
                    if (current_season_year != null && check_category_current_season(key, categoryNames[index], current_season_year)) {
                        cell.className = 'currentSeason';
                    }
                } else {
                    cell.innerText = "0";
                }
            }
            cell = row.insertCell();
            cell.innerText = String(total);
            if (total_current_season) {
                cell.className = 'currentSeason';
            }
        }
    }
    function check_name_current_season(gambler, name, year) {
        for (const index in tournaments) {
            const tournament = tournaments[index];
            if (tournament["name"] === name && tournament["year"] === year && ranking["winners"][index] === gambler) {
                return true;
            }
        }
        return false;
    }
    function check_category_current_season(gambler, category, year) {
        for (const index in tournaments) {
            const tournament = tournaments[index];
            if (tournament["category"] === category && tournament["year"] === year && ranking["winners"][index] === gambler) {
                return true;
            }
        }
        return false;
    }
    function updateTitles() {
        document.getElementById("mainHeader").innerText = leagues["{{ league_index }}"]["name"];
        document.getElementById("winnerLeague").innerText = "Vincitore\n" + leagues["{{ league_index }}"]["name"];
        document.title = leagues["{{ league_index }}"]["name"];
    }
    function updateTableTournaments() {
        const table = document.getElementById("tableTournamentsBody");
        table.innerText = "";
        for (const key in tournaments) {
            {% if not is_privileged %}
            if (tournaments[key]["is_ghost"]) {
                continue;
            }
            {% endif %}
            const row = table.insertRow();
            const name_cell = row.insertCell();
            const name_link = document.createElement("a");
            name_link.innerText = tournaments[key]["name"];
            name_link.setAttribute("href", "/web/leagues/{{ league_index }}/tournaments/" + key);
            name_cell.appendChild(name_link);
            if (!tournaments[key]["is_open"]) {
                const lock = document.createElement("img");
                lock.src = "/static/lock.png";
                name_link.innerText += "   ";
                name_link.appendChild(lock);
            }
            const year_cell = row.insertCell();
            year_cell.innerText = tournaments[key]["year"];
            const nation_code_cell = row.insertCell();
            nation_code_cell.innerText = nations[tournaments[key]["nation"]].code;
            const flag_cell = row.insertCell();
            const img = document.createElement('img');
            img.src = '/static/flags/' + nations[tournaments[key]["nation"]].code + '.png';
            img.setAttribute("class", "bordered");
            flag_cell.appendChild(img);
            const n_sets_cell = row.insertCell();
            n_sets_cell.innerText = tournaments[key]["n_sets"];
            const tie_breaker_cell = row.insertCell();
            const tie_breaker = tournaments[key]["tie_breaker_5th"];
            tie_breaker_cell.innerText = tieBreaker2text(tie_breaker);
            const category_cell = row.insertCell();
            const category = tournaments[key]["category"];
            category_cell.innerText = category2text(category);
            const draw_cell = row.insertCell();
            const draw = tournaments[key]["draw_type"];
            draw_cell.innerText = draw2text(draw);
            const player_winner_cell = row.insertCell();
            const player_winner = tournaments[key]["winner"] != null ? players[tournaments[key]["winner"]] : null;
            if (player_winner != null) {
                player_winner_cell.innerText = player_winner["name"] + " " + player_winner["surname"];
            } else {
                player_winner_cell.innerText = "/";
            }
            const gambler_winner_cell = row.insertCell();
            const gambler_winner = key in ranking["winners"] ? gamblers[ranking["winners"][key]] : null;
            if (gambler_winner != null) {
                gambler_winner_cell.innerText = gambler_winner["nickname"];
            } else {
                gambler_winner_cell.innerText = "/";
            }
            {% if is_privileged %}
                const ghost_cell = row.insertCell();
                if (tournaments[key]["is_ghost"]) {
                    ghost_cell.innerText = "GHOST";
                }
                const tools_cell = row.insertCell();
                const edit_img = document.createElement('img');
                edit_img.src = '/static/edit.png';
                edit_img.id = key;
                edit_img.onclick = tournamentUpdate;
                edit_img.style.cursor = "pointer";
                tools_cell.appendChild(edit_img);
                const delete_img = document.createElement('img');
                delete_img.src = '/static/delete.png';
                delete_img.id = key;
                delete_img.onclick = deleteTournament;
                delete_img.style.cursor = "pointer";
                tools_cell.appendChild(document.createTextNode(' '));
                tools_cell.appendChild(delete_img);
            {% endif %}
        }
    }
    function updateTablesRanking() {
        const tableRanking = document.getElementById("tableRankingBody");
        const ranking_scores = ranking["ranking_scores"];
        const ranking_scores_array = Object.entries(ranking_scores);
        ranking_scores_array.sort(function(first_pair, second_pair) {
            return first_pair[1] - second_pair[1];
        });
        ranking_scores_array.reverse();
        let last_position = undefined;
        let last_points = undefined;
        for (let index = 0; index < ranking_scores_array.length; index++) {
            const pair = ranking_scores_array[index];
            const gambler_index = pair[0];
            const gambler_points = pair[1];
            const row = tableRanking.insertRow();
            const position_cell = row.insertCell();
            if (gambler_points === last_points) {
                position_cell.innerText = last_position;
            } else {
                position_cell.innerText = String(index + 1);
                last_position = index + 1;
            }
            const gambler_cell = row.insertCell();
            gambler_cell.innerText = gamblers[gambler_index]["nickname"];
            const points_cell = row.insertCell();
            points_cell.innerText = String(gambler_points);
            last_points = gambler_points;
        }
        const tableRace = document.getElementById("tableRaceBody");
        const yearly_scores = ranking["yearly_scores"];
        const years = Object.keys(yearly_scores).map(x => parseInt(x));
        if (years.length === 0) {
            document.getElementById("tableRace").remove();
            return;
        }
        const last_year = Math.max(...years);
        document.getElementById("raceTitle").innerText = "Race " + last_year;
        const yearly_scores_array = Object.entries(yearly_scores[last_year]);
        yearly_scores_array.sort(function(first_pair, second_pair) {
            return first_pair[1] - second_pair[1];
        });
        yearly_scores_array.reverse();
        last_position = undefined;
        last_points = undefined;
        for (let index = 0; index < yearly_scores_array.length; index++) {
            const pair = yearly_scores_array[index];
            const gambler_index = pair[0];
            const gambler_points = pair[1];
            const row = tableRace.insertRow();
            const position_cell = row.insertCell();
            if (gambler_points === last_points) {
                position_cell.innerText = String(last_position);
            } else {
                position_cell.innerText = String(index + 1);
                last_position = index + 1;
            }
            const gambler_cell = row.insertCell();
            gambler_cell.innerText = gamblers[gambler_index]["nickname"];
            const points_cell = row.insertCell();
            points_cell.innerText = String(gambler_points);
            last_points = gambler_points;
        }
    }
    {% if is_privileged %}
    let forms;
    let editmode;
    function deleteTournament(event) {
        if (editmode) {
            return;
        }
        const index = event.target.id;
        if (confirm("Il torneo " + tournaments[index]["name"] + " " + tournaments[index]["year"] + " verrà eliminato dalla lega. Continuare ?") !== true) {
            return;
        }
        Promise.all([
            sendRequest("DELETE", "/leagues/{{ league_index }}/tournaments/" + index)
        ]).then(function (values) {
            delete tournaments[index];
            updateTableTournaments();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function tournamentUpdate(event) {
        if (editmode) {
            return;
        }
        editmode = true;
        const table = document.getElementById("tournamentInsert");
        table.hidden = false;
        let row = table.insertRow();
        row.insertCell().innerText = "Nome";
        row.insertCell().innerText = "Anno";
        row.insertCell().innerText = "Nazione";
        row.insertCell().innerText = "Set";
        row.insertCell().innerText = "Tie-break al 5° set";
        row.insertCell().innerText = "Categoria";
        row.insertCell().innerText = "Tabellone";
        row.insertCell().innerText = "Ghost";
        row = table.insertRow();
        forms = Object();
        const name_cell = row.insertCell();
        const form_name = document.createElement("input");
        form_name.setAttribute("type", "text");
        form_name.setAttribute("size", "15");
        name_cell.appendChild(form_name);
        forms["name"] = form_name;
        const year_cell = row.insertCell();
        const form_year = document.createElement("input");
        form_year.setAttribute("type", "text");
        form_year.setAttribute("size", "3");
        form_year.value = String((new Date()).getFullYear());
        year_cell.appendChild(form_year);
        forms["year"] = form_year;
        const nation_cell = row.insertCell();
        const form_nation = document.createElement("select");
        for (const key in nations) {
            if (nations[key]["name"] === "BYE") {
                continue;
            }
            const option = document.createElement("option");
            option.value = key;
            option.innerText = nations[key]["name"];
            form_nation.appendChild(option);
        }
        nation_cell.appendChild(form_nation);
        forms["nation"] = form_nation;
        const set_cell = row.insertCell();
        const form_set = document.createElement("select");
        addOptions(form_set, [3, 5]);
        set_cell.appendChild(form_set);
        forms["n_sets"] = form_set;
        const tie_break_cell = row.insertCell();
        const form_tie_break = document.createElement("select");
        form_tie_break.disabled = true;
        function set_change() {
            form_tie_break.disabled = form_set.value === "3";
        }
        form_set.onchange = set_change;
        addOptions(form_tie_break, ["Tie-break sul 6-6", "Tie-break sul 12-12", "Senza tie-break"]);
        tie_break_cell.appendChild(form_tie_break);
        forms["tie_breaker_5th"] = form_tie_break;
        const category_cell = row.insertCell();
        const form_category = document.createElement("select");
        addOptions(form_category, ["GRAND SLAM", "MASTER 1000", "ATP FINALS", "OLIMPIADI", "ATP 500", "ATP 250"]);
        category_cell.appendChild(form_category);
        forms["category"] = form_category;
        const draw_cell = row.insertCell();
        const form_draw = document.createElement("select");
        addOptions(form_draw, ["Eliminazione-16", "Round Robin"]);
        draw_cell.appendChild(form_draw);
        forms["draw_type"] = form_draw;
        const ghost_cell = row.insertCell();
        const form_ghost = document.createElement("input");
        form_ghost.type = "checkbox";
        function ghost_change() {
            if (form_ghost.checked === true) {
                form_nation.disabled = true;
                form_set.disabled = true;
                form_tie_break.disabled = true;
                form_category.disabled = true;
                form_draw.disabled = true;
            } else {
                form_nation.disabled = false;
                form_set.disabled = false;
                form_tie_break.disabled = form_set.value === "3";
                form_category.disabled = false;
                form_draw.disabled = false;
            }
        }
        form_ghost.onchange = ghost_change;
        ghost_cell.appendChild(form_ghost);
        forms["ghost"] = form_ghost;
        const button = document.getElementById("tournamentButton");
        button.innerText = "Invia";
        const cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreTournaments;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        document.getElementById("addGamblerButton").hidden = true;
        document.getElementById("removeGamblerButton").hidden = true;
        document.getElementById("inactiveGamblerButton").hidden = true;
        document.getElementById("activeGamblerButton").hidden = true;
        if (event != null) {
            const index = event.target.id;
            const tournament = tournaments[index];
            form_name.value = tournament["name"];
            form_name.disabled = true;
            form_year.value = tournament["year"];
            form_year.disabled = true;
            form_nation.value = tournament["nation"];
            form_set.value = tournament["n_sets"];
            form_set.disabled = true;
            form_tie_break.value = tieBreaker2text(tournament["tie_breaker_5th"]);
            form_tie_break.disabled = true;
            form_category.value = category2text(tournament["category"]);
            form_category.disabled = true;
            form_draw.value = draw2text(tournament["draw_type"]);
            form_draw.disabled = true;
            form_ghost.checked = tournament["is_ghost"];
            form_ghost.disabled = true;
            button.onclick = function () {
                sendTournamentUpdate("PUT", "/leagues/{{ league_index }}/tournaments/" + index);
            };
        } else {
            button.onclick = function () {
                sendTournamentUpdate("POST", "/leagues/{{ league_index }}/tournaments");
            };
        }
    }
    function sendTournamentUpdate(method, url) {
        const requestJson = Object();
        if (!forms["name"].disabled) {
            requestJson["name"] = forms["name"].value.trim();
        }
        if (!forms["year"].disabled) {
            requestJson["year"] = forms["year"].value.trim();
        }
        if (!forms["nation"].disabled) {
            requestJson["nation_index"] = forms["nation"].value;
        }
        if (!forms["n_sets"].disabled) {
            requestJson["n_sets"] = forms["n_sets"].value;
            if (forms["n_sets"].value === "3") {
                requestJson["tie_breaker_5th"] = null;
            } else {
                requestJson["tie_breaker_5th"] = text2tieBreaker(forms["tie_breaker_5th"].value);
            }
        }
        if (!forms["category"].disabled) {
            requestJson["category"] = text2category(forms["category"].value);
        }
        if (!forms["draw_type"].disabled) {
            requestJson["draw_type"] = text2draw(forms["draw_type"].value);
        }
        if (!forms["ghost"].disabled) {
            requestJson["ghost"] = forms["ghost"].checked;
        }
        Promise.all([
            sendRequest(method, url, requestJson)
        ]).then(function (values) {
            const updated_tournament = JSON.parse(values[0]);
            for (const key in updated_tournament) {
                tournaments[key] = updated_tournament[key];
            }
            restoreTournaments();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function restoreTournaments() {
        const button = document.getElementById("tournamentButton");
        button.hidden = false;
        button.innerText = "Crea un torneo";
        button.onclick = function() {
            tournamentUpdate(null);
        };
        document.getElementById("cancelButton").remove();
        document.getElementById("tournamentInsert").innerText = "";
        document.getElementById("tournamentInsert").hidden = true;
        const addButton = document.getElementById("addGamblerButton");
        addButton.hidden = false;
        addButton.innerText = "Aggiungi uno scommettitore";
        addButton.onclick = addGambler;
        const removeButton = document.getElementById("removeGamblerButton");
        removeButton.hidden = false;
        removeButton.innerText = "Elimina uno scommettitore";
        removeButton.onclick = removeGambler;
        const inactiveButton = document.getElementById("inactiveGamblerButton");
        inactiveButton.hidden = false;
        inactiveButton.innerText = "Disattiva uno scommettitore";
        inactiveButton.onclick = inactiveGambler;
        const activeButton = document.getElementById("activeGamblerButton");
        activeButton.hidden = false;
        activeButton.innerText = "Attiva uno scommettitore";
        activeButton.onclick = activeGambler;
        const select = document.getElementById("gamblerSelect");
        select.innerHTML = "";
        select.hidden = true;
        forms = Object();
        editmode = false;
        updateButtons();
        updateTableTournaments();
    }
    function addOptions(form, array) {
        for (const index in array) {
            const option = document.createElement("option");
            option.value = array[index];
            option.innerText = array[index];
            form.appendChild(option);
        }
    }
    function updateButtons() {
        document.getElementById("addGamblerButton").disabled = getNonMemberGamblers().length === 0;
        document.getElementById("removeGamblerButton").disabled = getMemberGamblers().length === 0;
        document.getElementById("inactiveGamblerButton").disabled = getActiveGamblers().length === 0;
        document.getElementById("activeGamblerButton").disabled = getInactiveGamblers().length === 0;
    }
    function getMemberGamblers() {
        return Object.keys(leagueGamblers);
    }
    function getNonMemberGamblers() {
        const nonMemberGamblers = Array();
        for (const key in gamblers) {
            if (!(key in leagueGamblers)) {
                nonMemberGamblers.push(key);
            }
        }
        return nonMemberGamblers;
    }
    function getActiveGamblers() {
        const activeGamblers = Array();
        for (const key in leagueGamblerDetails) {
            if (leagueGamblerDetails[key]["is_active"]) {
                activeGamblers.push(key);
            }
        }
        return activeGamblers;
    }
    function getInactiveGamblers() {
        const inactiveGamblers = Array();
        for (const key in leagueGamblerDetails) {
            if (!leagueGamblerDetails[key]["is_active"]) {
                inactiveGamblers.push(key);
            }
        }
        return inactiveGamblers;
    }
    function addGambler() {
        const button = document.getElementById("addGamblerButton");
        button.innerText = "Invia";
        button.onclick = sendAddGambler;
        addGamblerOptions(getNonMemberGamblers());
        const cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreTournaments;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        document.getElementById("tournamentButton").hidden = true;
        document.getElementById("removeGamblerButton").hidden = true;
        document.getElementById("inactiveGamblerButton").hidden = true;
        document.getElementById("activeGamblerButton").hidden = true;
    }
    function removeGambler() {
        const button = document.getElementById("removeGamblerButton");
        button.innerText = "Invia";
        button.onclick = sendRemoveGambler;
        addGamblerOptions(getMemberGamblers());
        const cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreTournaments;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        document.getElementById("tournamentButton").hidden = true;
        document.getElementById("addGamblerButton").hidden = true;
        document.getElementById("inactiveGamblerButton").hidden = true;
        document.getElementById("activeGamblerButton").hidden = true;
    }
    function inactiveGambler() {
        const button = document.getElementById("inactiveGamblerButton");
        button.innerText = "Invia";
        button.onclick = function() {
            sendActiveGambler(false);
        };
        addGamblerOptions(getActiveGamblers());
        const cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreTournaments;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        document.getElementById("tournamentButton").hidden = true;
        document.getElementById("addGamblerButton").hidden = true;
        document.getElementById("removeGamblerButton").hidden = true;
        document.getElementById("activeGamblerButton").hidden = true;
    }
    function activeGambler() {
        const button = document.getElementById("activeGamblerButton");
        button.innerText = "Invia";
        button.onclick = function() {
            sendActiveGambler(true);
        };
        addGamblerOptions(getInactiveGamblers());
        const cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreTournaments;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        document.getElementById("tournamentButton").hidden = true;
        document.getElementById("addGamblerButton").hidden = true;
        document.getElementById("removeGamblerButton").hidden = true;
        document.getElementById("inactiveGamblerButton").hidden = true;
    }
    function addGamblerOptions(list) {
        const select = document.getElementById("gamblerSelect");
        for (const index in list) {
            const key = list[index];
            const option = document.createElement("option");
            option.value = key;
            option.innerText = gamblers[key]["nickname"];
            select.appendChild(option);
        }
        select.hidden = false;
    }
    function sendAddGambler() {
        const index = document.getElementById("gamblerSelect").value;
        Promise.all([
            sendRequest("POST", "/leagues/{{ league_index }}/gamblers/" + index, {"initial_score": 0, "initial_credit": 0})
        ]).then(function (values) {
            leagueGamblers[index] = gamblers[index]["id"];
            leagueGamblerDetails[index] = JSON.parse(values[0]);
            restoreTournaments();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function sendRemoveGambler() {
        const index = document.getElementById("gamblerSelect").value;
        if (confirm("Lo scommettitore " + gamblers[index]["nickname"] + " verrà eliminato dalla lega. Continuare ?") !== true) {
            return;
        }
        Promise.all([
            sendRequest("DELETE", "/leagues/{{ league_index }}/gamblers/" + index)
        ]).then(function (values) {
            delete leagueGamblers[index];
            delete leagueGamblerDetails[index];
            restoreTournaments();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function sendActiveGambler(is_active) {
        const index = document.getElementById("gamblerSelect").value;
        Promise.all([
            sendRequest("PUT", "/leagues/{{ league_index }}/gamblers/" + index, {"is_active": is_active})
        ]).then(function (values) {
            leagueGamblerDetails[index] = JSON.parse(values[0]);
            restoreTournaments();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    {% endif %}
    function randomColorGenerator() {
        return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
    }
    function plotRankingChart() {
        const labels = Array();
        for (const key in ranking["ranking_history"]) {
            labels.push(tournaments[key]["name"] + " " + tournaments[key]["year"]);
        }
        const data = {
            labels: labels
        };
        const datasets = Array();
        for (const gambler_key in gamblers) {
            const gambler_color = randomColorGenerator();
            const dataset = {
                label: gamblers[gambler_key]["nickname"],
                backgroundColor: gambler_color,
                borderColor: gambler_color
            };
            const gambler_data = Array();
            let add_gambler = false;
            for (const tournament_key in ranking["ranking_history"]) {
                const current_ranking = ranking["ranking_history"][tournament_key];
                const gambler_index = current_ranking.indexOf(parseInt(gambler_key));
                if (gambler_index !== -1) {
                    add_gambler = true;
                    gambler_data.push(gambler_index + 1);
                } else {
                    gambler_data.push(undefined);
                }
            }
            if (add_gambler) {
                dataset["data"] = gambler_data;
                datasets.push(dataset);
            }
        }
        data['datasets'] = datasets;
        const config = {
            type: 'line',
            data: data,
            options: {
                scales: {
                    y: {
                        min: 1,
                        max: datasets.length,
                        reverse: true,
                        ticks: {
                            autoSkip: false,
                            stepSize: 1
                        }
                    }
                }
            }
        };
        new Chart(
            document.getElementById('rankingChart'),
            config
        );
    }
</script>
{% endblock %}

{% block content %}
<h1 id="mainHeader"></h1>
{% if is_privileged %}
<button id="tournamentButton" onclick="tournamentUpdate(null)">Crea un torneo</button>
<button id="addGamblerButton" onclick="addGambler()">Aggiungi uno scommettitore</button>
<button id="removeGamblerButton" onclick="removeGambler()">Elimina uno scommettitore</button>
<button id="inactiveGamblerButton" onclick="inactiveGambler()">Disattiva uno scommettitore</button>
<button id="activeGamblerButton" onclick="activeGambler()">Attiva uno scommettitore</button>
<select id="gamblerSelect" hidden></select>
<table id="tournamentInsert" hidden></table>
{% endif %}
<div id="tournamentDiv">
    <h2>Tornei</h2>
    <table class="styled-table">
        <thead>
        <tr>
            <td>Nome</td>
            <td>Anno</td>
            <td>Nazione</td>
            <td>Bandiera</td>
            <td>Set</td>
            <td>Tie-break al 5° set</td>
            <td>Categoria</td>
            <td>Tabellone</td>
            <td>Vincitore</td>
            <td id="winnerLeague"></td>
            {% if is_privileged %}
                <td>Ghost</td>
                <td></td>
            {% endif %}
        </tr>
        </thead>
        <tbody id="tableTournamentsBody">
        </tbody>
    </table>
</div>
<div>
    <div class="floatRankings">
        <h2>Ranking</h2>
        <table class="styled-table">
            <thead>
            <tr>
                <td>Posizione</td>
                <td>Scommettitore</td>
                <td>Punti</td>
            </tr>
            </thead>
            <tbody id="tableRankingBody">
            </tbody>
        </table>
    </div>
    <div class="floatRankings">
    <h2 id="raceTitle"></h2>
        <table id="tableRace" class="styled-table">
            <thead>
            <tr>
                <td>Posizione</td>
                <td>Scommettitore</td>
                <td>Punti</td>
            </tr>
            </thead>
            <tbody id="tableRaceBody">
            </tbody>
        </table>
    </div>
    <div class="floatRankings">
        <h2 id="Palmarès"></h2>
        <table id="tableWinnersRecord" class="styled-table">
        </table>
    </div>
</div>
    <div>
        <canvas id="rankingChart"></canvas>
    </div>
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
{% endblock %}
