{% extends "base.html" %}

{% block title_content %}
    <title>Nazioni</title>
{% endblock %}

{% block script_content %}
<script>
    window.onload = updatePage;
    var nations;
    function callNations() {
        return new Promise(function(resolve, reject) {
            var nationsRequest = new XMLHttpRequest();
            nationsRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            nationsRequest.open("GET", "/nations", true);
            nationsRequest.send();
        })
    }
    function updatePage() {
        Promise.all([callNations()]).then(function (values) {
            nations = JSON.parse(values[0]);
            updateTable();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function updateTable() {
        table = document.getElementById("tableBody");
        table.innerText = "";
        for (var key in nations) {
            if (nations[key]["name"] == "BYE") {
                continue;
            }
            const row = table.insertRow();
            const name = row.insertCell();
            name.innerText = nations[key]["name"];
            const code = row.insertCell();
            code.innerText = nations[key]["code"];
            const flag = row.insertCell();
            const img = document.createElement('img');
            img.src = '/static/flags/' + nations[key]["code"] + '.png';
            img.setAttribute("class", "bordered");
            flag.appendChild(img);
            tools_cell = row.insertCell();
            const edit_img = document.createElement('img');
            edit_img.src = '/static/edit.png';
            edit_img.id = key;
            edit_img.onclick = editNation;
            edit_img.style.cursor = "pointer";
            tools_cell.appendChild(edit_img);
            const delete_img = document.createElement('img');
            delete_img.src = '/static/delete.png';
            delete_img.id = key;
            delete_img.onclick = deleteNation;
            delete_img.style.cursor = "pointer";
            tools_cell.appendChild(document.createTextNode(' '));
            tools_cell.appendChild(delete_img);
        }
    }
    function deleteNation(event) {
        index = event.target.id;
        Promise.all([sendDeleteRequest(index)]).then(function (values) {
            delete nations[index];
            updateTable();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function editNation(event) {
        index = event.target.id;
        nation = nations[index];
        table = document.getElementById("nationInsert");
        table.hidden = false;
        row = table.insertRow();
        row.insertCell().innerText = "Nome";
        row.insertCell().innerText = "Codice";
        row = table.insertRow();
        forms = Object();
        name_cell = row.insertCell();
        let form_name = document.createElement("input");
        form_name.setAttribute("type", "text");
        form_name.setAttribute("size", 15);
        form_name.value = nation["name"];
        name_cell.appendChild(form_name);
        forms["name"] = form_name;
        code_cell = row.insertCell();
        let form_code = document.createElement("input");
        form_code.setAttribute("type", "text");
        form_code.setAttribute("size", 3);
        form_code.value = nation["code"];
        code_cell.appendChild(form_code);
        forms["code"] = form_code;
        button = document.getElementById("nationsButton");
        button.innerText = "Invia";
        button.onclick = function() {
            sendNationUpdate(index);
        }
        cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreNations;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
    }
    function newNation() {
        table = document.getElementById("nationInsert");
        table.hidden = false;
        row = table.insertRow();
        row.insertCell().innerText = "Nome";
        row.insertCell().innerText = "Codice";
        row = table.insertRow();
        forms = Object();
        name_cell = row.insertCell();
        let form_name = document.createElement("input");
        form_name.setAttribute("type", "text");
        form_name.setAttribute("size", 15);
        name_cell.appendChild(form_name);
        forms["name"] = form_name;
        code_cell = row.insertCell();
        let form_code = document.createElement("input");
        form_code.setAttribute("type", "text");
        form_code.setAttribute("size", 3);
        code_cell.appendChild(form_code);
        forms["code"] = form_code;
        button = document.getElementById("nationsButton");
        button.innerText = "Invia";
        button.onclick = sendNation;
        cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreNations;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
    }
    function sendNation() {
        requestJson = Object();
        requestJson["name"] = forms["name"].value.trim();
        requestJson["code"] = forms["code"].value.trim();
        Promise.all([sendNationRequest(requestJson)]).then(function (values) {
            new_nation = JSON.parse(values[0]);
            for (key in new_nation) {
                nations[key] = new_nation[key];
            }
            restoreNations();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function sendNationUpdate(index) {
        requestJson = Object();
        requestJson["name"] = forms["name"].value;
        requestJson["code"] = forms["code"].value;
        Promise.all([sendNationUpdateRequest(requestJson, index)]).then(function (values) {
            updated_nation = JSON.parse(values[0]);
            for (key in updated_nation) {
                nations[key] = updated_nation[key];
            }
            restoreNations();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function sendNationRequest(requestJson) {
        return new Promise(function (resolve, reject) {
            var betPutRequest = new XMLHttpRequest();
            betPutRequest.onreadystatechange = function () {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            betPutRequest.open("POST", "/nations", true);
            betPutRequest.setRequestHeader("Content-Type", "application/json");
            betPutRequest.send(JSON.stringify(requestJson));
        })
    }
    function sendNationUpdateRequest(requestJson, index) {
        return new Promise(function (resolve, reject) {
            var betPutRequest = new XMLHttpRequest();
            betPutRequest.onreadystatechange = function () {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            betPutRequest.open("PUT", "/nations/" + index, true);
            betPutRequest.setRequestHeader("Content-Type", "application/json");
            betPutRequest.send(JSON.stringify(requestJson));
        })
    }
    function sendDeleteRequest(index) {
        return new Promise(function (resolve, reject) {
            var betPutRequest = new XMLHttpRequest();
            betPutRequest.onreadystatechange = function () {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            betPutRequest.open("DELETE", "/nations/" + index, true);
            betPutRequest.send();
        })
    }
    function restoreNations() {
        button = document.getElementById("nationsButton");
        button.innerText = "Crea una nazione";
        button.onclick = newNation;
        document.getElementById("cancelButton").remove();
        document.getElementById("nationInsert").innerText = "";
        document.getElementById("nationInsert").hidden = true;
        forms = Object();
        updateTable();
    }
</script>
{% endblock %}

{% block content %}
<h1>Nazioni</h1>
<button id="nationsButton" onclick="newNation()">Crea una nazione</button>
<table id="nationInsert" hidden="true"></table>
<table class="styled-table">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Codice</td>
            <td>Bandiera</td>
            <td></td>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>
{% endblock %}
