{% extends "base.html" %}

{% block title_content %}
    <title>Nazioni</title>
{% endblock %}

{% block script_content %}
<script>
    window.onload = updatePage;
    let nations;
    let forms;
    let editmode = false;
    function updatePage() {
        Promise.all([
            sendRequest("GET", "/nations")
        ]).then(function (values) {
            nations = JSON.parse(values[0]);
            updateTable();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function updateTable() {
        const table = document.getElementById("tableBody");
        table.innerText = "";
        for (const [key, nation] of Object.entries(nations)) {
            if (nation["name"] == "BYE") {
                continue;
            }
            const row = table.insertRow();
            const name = row.insertCell();
            name.innerText = nation["name"];
            const code = row.insertCell();
            code.innerText = nation["code"];
            const flag = row.insertCell();
            const img = document.createElement('img');
            img.src = '/static/flags/' + nation["code"] + '.png';
            img.setAttribute("class", "bordered");
            flag.appendChild(img);
            const tools_cell = row.insertCell();
            const edit_img = document.createElement('img');
            edit_img.src = '/static/edit.png';
            edit_img.id = key;
            edit_img.onclick = nationUpdate;
            edit_img.style.cursor = "pointer";
            tools_cell.appendChild(edit_img);
            const delete_img = document.createElement('img');
            delete_img.src = '/static/delete.png';
            delete_img.id = key;
            delete_img.onclick = deleteNation;
            delete_img.style.cursor = "pointer";
            tools_cell.appendChild(document.createTextNode(' '));
            tools_cell.appendChild(delete_img);
        }
    }
    function nationUpdate(event) {
        if (editmode) {
            return;
        }
        editmode = true;
        const table = document.getElementById("nationInsert");
        table.hidden = false;
        table.innerText = "";
        let row = table.insertRow();
        row.insertCell().innerText = "Nome";
        row.insertCell().innerText = "Codice";
        row = table.insertRow();
        forms = Object();
        const name_cell = row.insertCell();
        const form_name = document.createElement("input");
        form_name.setAttribute("type", "text");
        form_name.setAttribute("size", "15");
        name_cell.appendChild(form_name);
        forms["name"] = form_name;
        const code_cell = row.insertCell();
        const form_code = document.createElement("input");
        form_code.setAttribute("type", "text");
        form_code.setAttribute("size", "3");
        code_cell.appendChild(form_code);
        forms["code"] = form_code;
        const button = document.getElementById("nationsButton");
        button.innerText = "Invia";
        document.getElementById("cancelButton").hidden = false;
        if (event != null) {
            const index = event.target.id;
            const nation = nations[index];
            form_name.value = nation["name"];
            form_code.value = nation["code"];
            button.onclick = function() {
                sendNationUpdate("PUT", "/nations/" + index);
            };
        } else {
            button.onclick = function() {
                sendNationUpdate("POST", "/nations");
            }
        }
    }
    function deleteNation(event) {
        if (editmode) {
            return;
        }
        const index = event.target.id;
        if (confirm("La nazione " + nations[index]["name"] + " verrà eliminata. Continuare ?") != true) {
            return;
        }
        Promise.all([sendRequest("DELETE", "/nations/" + index)]).then(function (values) {
            delete nations[index];
            updateTable();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function sendNationUpdate(method, url) {
        const requestJson = Object();
        requestJson["name"] = forms["name"].value.trim();
        requestJson["code"] = forms["code"].value.trim();
        Promise.all([sendRequest(method, url, requestJson)]).then(function (values) {
            const updated_nation = JSON.parse(values[0]);
            for (const key in updated_nation) {
                nations[key] = updated_nation[key];
            }
            restoreNations();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function restoreNations() {
        const button = document.getElementById("nationsButton");
        button.innerText = "Crea una nazione";
        button.onclick = function() {
            nationUpdate(null);
        };
        document.getElementById("cancelButton").hidden = true;
        document.getElementById("nationInsert").innerText = "";
        document.getElementById("nationInsert").hidden = true;
        forms = Object();
        editmode = false;
        updateTable();
    }
</script>
{% endblock %}

{% block content %}
<h1>Nazioni</h1>
<button id="nationsButton" onclick="nationUpdate(null)">Crea una nazione</button>
<button id="cancelButton" hidden onclick="restoreNations()">Annulla</button>
<table id="nationInsert" hidden></table>
<table class="styled-table">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Codice</td>
            <td>Bandiera</td>
            <td></td>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>
{% endblock %}
