{% extends "base.html" %}

{% block title_content %}
    <title>Profilo</title>
{% endblock %}

{% block script_content %}
<script>
    window.onload = updatePage;
    let leagues;
    let profile;
    function updatePage() {
        const all_promises = [
            sendRequest("GET", "/leagues"),
            sendRequest("GET", "/profile")];
        {% if is_privileged %}
        all_promises.push(
            sendRequest("GET", "/load")
        );
        {% endif %}
        Promise.all(all_promises).then(function (values) {
            leagues = JSON.parse(values[0]);
            profile = JSON.parse(values[1]);
            updateTable();
            {% if is_privileged %}
            timestamps = JSON.parse(values[2]);
            updateChoice();
            {% endif %}
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function updateTable() {
        const table = document.getElementById("tableBody");
        table.innerText = "";
        const row = table.insertRow();
        const name_cell = row.insertCell();
        name_cell.innerText = profile["nickname"];
        const code_cell = row.insertCell();
        code_cell.innerText = profile["email"];
        const leagues_cell = row.insertCell();
        const inner_table = document.createElement('table');
        for (const league_key of profile["leagues"]) {
            const inner_row = inner_table.insertRow();
            const inner_cell = inner_row.insertCell();
            const league_link = document.createElement("a");
            league_link.innerText = leagues[league_key].name;
            league_link.setAttribute("href", "/web/leagues/" + league_key);
            inner_cell.appendChild(league_link);
        }
        leagues_cell.appendChild(inner_table);
    }
    function editProfile() {
        const table = document.getElementById("profileInsert");
        table.hidden = false;
        table.innerText = "";
        let row = table.insertRow();
        row.insertCell().innerText = "Nome";
        row.insertCell().innerText = "Email";
        row.insertCell().innerText = "";
        row.insertCell().innerText = "Password";
        row = table.insertRow();
        forms = Object();
        const nickname_cell = row.insertCell();
        let form_nickname = document.createElement("input");
        form_nickname.setAttribute("type", "text");
        form_nickname.setAttribute("size", "15");
        form_nickname.value = profile["nickname"];
        nickname_cell.appendChild(form_nickname);
        forms["nickname"] = form_nickname;
        const email_cell = row.insertCell();
        let form_email = document.createElement("input");
        form_email.setAttribute("type", "email");
        form_email.setAttribute("size", "20");
        form_email.value = profile["email"];
        email_cell.appendChild(form_email);
        forms["email"] = form_email;
        const checkbox_cell = row.insertCell();
        let form_password_checkbox = document.createElement("input");
        form_password_checkbox.type = "checkbox";
        form_password_checkbox.checked = false;
        checkbox_cell.appendChild(form_password_checkbox);
        forms["password_checkbox"] = form_password_checkbox;
        const password_cell = row.insertCell();
        let form_password = document.createElement("input");
        form_password.setAttribute("type", "text");
        form_password.setAttribute("size", "15");
        form_password.disabled = true;
        password_cell.appendChild(form_password);
        forms["password"] = form_password;
        form_password_checkbox.onchange = function() {
            if (form_password_checkbox.checked) {
                form_password.disabled = false;
            } else {
                form_password.value = "";
                form_password.disabled = true;
            }
        };
        const button = document.getElementById("profileButton");
        button.innerText = "Invia";
        button.onclick = sendProfileUpdate;
        document.getElementById("cancelButton").hidden = false;
    }
    function sendProfileUpdate() {
        let new_password;
        if (forms["password_checkbox"].checked) {
            new_password = forms["password"].value;
        } else {
            new_password = null;
        }
        if (new_password != null && new_password.length < 8) {
            alert("La password deve avere almeno 8 caratteri");
            return;
        }
        const requestJson = Object();
        requestJson["nickname"] = forms["nickname"].value.trim();
        requestJson["email"] = forms["email"].value.trim();
        requestJson["password"] = new_password;
        Promise.all([
            sendRequest("PUT", "/profile", requestJson)
        ]).then(function (values) {
            profile = JSON.parse(values[0]);
            restoreProfile();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function restoreProfile() {
        const button = document.getElementById("profileButton");
        button.innerText = "Cambia il profilo";
        button.onclick = editProfile;
        document.getElementById("cancelButton").hidden = true;
        document.getElementById("profileInsert").innerText = "";
        document.getElementById("profileInsert").hidden = true;
        updateTable();
    }
    {% if is_privileged %}
        let timestamps;
        function updateChoice() {
            const choice = document.getElementById("saved");
            choice.options.length = 0;
            for (const key in timestamps) {
                const option = document.createElement("option");
                option.value = key;
                option.innerText = timestamps[key];
                choice.appendChild(option);
            }
        }
        function pickleSave() {
            Promise.all([
                sendRequest("POST", "/save")
            ]).then(function (values) {
                const timestamp = JSON.parse(values[0]);
                timestamps = {...timestamps, ...timestamp};
                updateChoice();
            }).catch(function (reason) {
                window.alert(reason);
            });
        }
        function pickleLoad() {
            const index = document.getElementById("saved").value;
            const requestJson = Object();
            requestJson['timestamp'] = timestamps[index];
            Promise.all([
                sendRequest("POST", "/load", requestJson)
            ]).then(function (values) {
                window.alert("Loading successful");
            }).catch(function (reason) {
                window.alert(reason);
            });
        }
        function pickleDownload() {
            const index = document.getElementById("saved").value;
            const requestJson = Object();
            requestJson['timestamp'] = timestamps[index];
            Promise.all([
                sendRequest("POST", "/download", requestJson, null, "blob")
            ]).then(function (values) {
                const blob = new Blob([values[0]], {type: "application/octet-stream"});
                const url = window.URL.createObjectURL(blob);
                const link = document.createElement('a');
                document.body.appendChild(link);
                link.style.cssText = "display:none";
                link.href = url;
                link.download = 'save_' + timestamps[index] + '.dat';
                link.click();
                setTimeout(() => {
                    window.URL.revokeObjectURL(url);
                    link.remove();
                }, 100);
            }).catch(function (reason) {
                window.alert(reason);
            });
        }
    {% endif %}
</script>
{% endblock %}

{% block content %}
    <h1 class="title">
        {{ nickname }}
    </h1>
    <button id="profileButton" onclick="editProfile()">Cambia il profilo</button>
    <button id="cancelButton" hidden onclick="restoreProfile()">Annulla</button>
    <table id="profileInsert" hidden></table>
    <table class="styled-table">
        <thead>
        <tr>
            <td>Nome</td>
            <td>E-mail</td>
            <td>Leghe</td>
        </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
    {% if is_privileged %}
    <a href="/web/leagues">Leghe</a>
    <a href="/web/nations">Nazioni</a>
    <a href="/web/players">Tennisti</a>
    <a href="/web/gamblers">Scomettitori</a>
    <button type="button" onclick="pickleSave()">Salva</button>
    <select name="saved" id="saved"></select>
    <button type="button" onclick="pickleLoad()">Recupera</button>
    <button type="button" onclick="pickleDownload()">Download</button>
    {%  endif %}
{% endblock %}