{% extends "base.html" %}

{% block title_content %}
    <title>Profilo</title>
{% endblock %}

{% block script_content %}
<script>
    window.onload = updatePage;
    let leagues;
    let profile;
    function updatePage() {
        const allPromises = [
            sendRequest("GET", "/leagues"),
            sendRequest("GET", "/profile")];
        {% if is_privileged %}
        allPromises.push(
            sendRequest("GET", "/load")
        );
        {% endif %}
        Promise.all(allPromises).then(function (values) {
            leagues = JSON.parse(values[0]);
            profile = JSON.parse(values[1]);
            updateTable();
            {% if is_privileged %}
            timestamps = JSON.parse(values[2]);
            updateChoice();
            {% endif %}
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function updateTable() {
        const table = document.getElementById("tableBody");
        table.innerText = "";
        const row = table.insertRow();
        const nameCell = row.insertCell();
        nameCell.innerText = profile["nickname"];
        const codeCell = row.insertCell();
        codeCell.innerText = profile["email"];
        const leaguesCell = row.insertCell();
        const innerTable = document.createElement('table');
        for (const leagueKey of profile["leagues"]) {
            const innerRow = innerTable.insertRow();
            const innerCell = innerRow.insertCell();
            const leagueLink = document.createElement("a");
            leagueLink.innerText = leagues[leagueKey].name;
            leagueLink.setAttribute("href", "/web/leagues/" + leagueKey);
            innerCell.appendChild(leagueLink);
        }
        leaguesCell.appendChild(innerTable);
    }
    function editProfile() {
        const table = document.getElementById("profileInsert");
        table.hidden = false;
        table.innerText = "";
        let row = table.insertRow();
        row.insertCell().innerText = "Nome";
        row.insertCell().innerText = "Email";
        row.insertCell().innerText = "";
        row.insertCell().innerText = "Password";
        row = table.insertRow();
        forms = Object();
        const nicknameCell = row.insertCell();
        let formNickname = document.createElement("input");
        formNickname.setAttribute("type", "text");
        formNickname.setAttribute("size", "15");
        formNickname.value = profile["nickname"];
        nicknameCell.appendChild(formNickname);
        forms["nickname"] = formNickname;
        const emailCell = row.insertCell();
        let formEmail = document.createElement("input");
        formEmail.setAttribute("type", "email");
        formEmail.setAttribute("size", "20");
        formEmail.value = profile["email"];
        emailCell.appendChild(formEmail);
        forms["email"] = formEmail;
        const checkboxCell = row.insertCell();
        let formPasswordCheckbox = document.createElement("input");
        formPasswordCheckbox.type = "checkbox";
        formPasswordCheckbox.checked = false;
        checkboxCell.appendChild(formPasswordCheckbox);
        forms["password_checkbox"] = formPasswordCheckbox;
        const passwordCell = row.insertCell();
        let formPassword = document.createElement("input");
        formPassword.setAttribute("type", "text");
        formPassword.setAttribute("size", "15");
        formPassword.disabled = true;
        passwordCell.appendChild(formPassword);
        forms["password"] = formPassword;
        formPasswordCheckbox.onchange = function() {
            if (formPasswordCheckbox.checked) {
                formPassword.disabled = false;
            } else {
                formPassword.value = "";
                formPassword.disabled = true;
            }
        };
        const button = document.getElementById("profileButton");
        button.innerText = "Invia";
        button.onclick = sendProfileUpdate;
        document.getElementById("cancelButton").hidden = false;
    }
    function sendProfileUpdate() {
        let newPassword;
        if (forms["password_checkbox"].checked) {
            newPassword = forms["password"].value;
        } else {
            newPassword = null;
        }
        if (newPassword != null && newPassword.length < 8) {
            alert("La password deve avere almeno 8 caratteri");
            return;
        }
        const requestJson = Object();
        requestJson["nickname"] = forms["nickname"].value.trim();
        requestJson["email"] = forms["email"].value.trim();
        requestJson["password"] = newPassword;
        Promise.all([
            sendRequest("PUT", "/profile", requestJson)
        ]).then(function (values) {
            profile = JSON.parse(values[0]);
            restoreProfile();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function restoreProfile() {
        const button = document.getElementById("profileButton");
        button.innerText = "Cambia il profilo";
        button.onclick = editProfile;
        document.getElementById("cancelButton").hidden = true;
        document.getElementById("profileInsert").innerText = "";
        document.getElementById("profileInsert").hidden = true;
        updateTable();
    }
    {% if is_privileged %}
        let timestamps;
        function updateChoice() {
            const choice = document.getElementById("saved");
            choice.options.length = 0;
            for (const key in timestamps) {
                const option = document.createElement("option");
                option.value = key;
                option.innerText = timestamps[key];
                choice.appendChild(option);
            }
        }
        function pickleSave() {
            Promise.all([
                sendRequest("POST", "/save")
            ]).then(function (values) {
                const timestamp = JSON.parse(values[0]);
                timestamps = {...timestamps, ...timestamp};
                updateChoice();
            }).catch(function (reason) {
                window.alert(reason);
            });
        }
        function pickleLoad() {
            const index = document.getElementById("saved").value;
            const requestJson = Object();
            requestJson['timestamp'] = timestamps[index];
            Promise.all([
                sendRequest("POST", "/load", requestJson)
            ]).then(function (values) {
                window.alert("Loading successful");
            }).catch(function (reason) {
                window.alert(reason);
            });
        }
        function pickleDownload() {
            const index = document.getElementById("saved").value;
            const requestJson = Object();
            requestJson['timestamp'] = timestamps[index];
            Promise.all([
                sendRequest("POST", "/download", requestJson, null, "blob")
            ]).then(function (values) {
                const blob = new Blob([values[0]], {type: "application/octet-stream"});
                const url = window.URL.createObjectURL(blob);
                const link = document.createElement('a');
                document.body.appendChild(link);
                link.style.cssText = "display:none";
                link.href = url;
                link.download = 'save_' + timestamps[index] + '.dat';
                link.click();
                setTimeout(() => {
                    window.URL.revokeObjectURL(url);
                    link.remove();
                }, 100);
            }).catch(function (reason) {
                window.alert(reason);
            });
        }
    {% endif %}
</script>
{% endblock %}

{% block content %}
    <h1 class="title">
        {{ nickname }}
    </h1>
    <button id="profileButton" onclick="editProfile()">Cambia il profilo</button>
    <button id="cancelButton" hidden onclick="restoreProfile()">Annulla</button>
    <table id="profileInsert" hidden></table>
    <table class="styled-table">
        <thead>
        <tr>
            <td>Nome</td>
            <td>E-mail</td>
            <td>Leghe</td>
        </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
    {% if is_privileged %}
    <a href="/web/leagues">Leghe</a>
    <a href="/web/nations">Nazioni</a>
    <a href="/web/players">Tennisti</a>
    <a href="/web/gamblers">Scomettitori</a>
    <button type="button" onclick="pickleSave()">Salva</button>
    <select name="saved" id="saved"></select>
    <button type="button" onclick="pickleLoad()">Recupera</button>
    <button type="button" onclick="pickleDownload()">Download</button>
    {%  endif %}
{% endblock %}