{% extends "base.html" %}

{% block title_content %}
    <title></title>
{% endblock %}

{% block script_content %}
<script>
    window.onload = updatePage;
    let leagues;
    let gamblers;
    let players;
    let nations;
    let ranking;
    let tournamentInfo;
    let tournamentPlayers;
    let matches;
    function updatePage() {
        Promise.all([
            sendRequest("GET", "/leagues"),
            sendRequest("GET", "/gamblers"),
            sendRequest("GET", "/players"),
            sendRequest("GET", "/nations"),
            sendRequest("GET", "/leagues/{{ league_index }}/tournaments/{{ tournament_index }}/ranking"),
            sendRequest("GET", "/leagues/{{ league_index }}/tournaments/{{ tournament_index }}"),
            sendRequest("GET", "/leagues/{{ league_index }}/tournaments/{{ tournament_index }}/players"),
            sendRequest("GET", "/leagues/{{ league_index }}/tournaments/{{ tournament_index }}/matches")
        ]).then(function (values) {
            leagues = JSON.parse(values[0]);
            gamblers = JSON.parse(values[1]);
            players = JSON.parse(values[2]);
            nations = JSON.parse(values[3]);
            ranking = JSON.parse(values[4]);
            tournamentInfo = JSON.parse(values[5]);
            tournamentPlayers = JSON.parse(values[6]);
            matches = JSON.parse(values[7]);
            updateTitles();
            updateInfo();
            updateMatches();
            updateTableRanking();
            {% if is_privileged %}
                updateTablePlayers();
            {% endif %}
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function updateTitles() {
        const mainHeader = document.getElementById("mainHeader");
        mainHeader.innerText = tournamentInfo["name"] + "  " + tournamentInfo["year"];
        if (tournamentInfo["is_ghost"]) {
            mainHeader.innerText += " [ GHOST ]";
        }
        const subHeader = document.getElementById("subHeader");
        subHeader.innerHTML = "";
        const subHeaderLink = document.createElement("a");
        subHeaderLink.innerText = leagues[{{ league_index }}]["name"];
        subHeaderLink.setAttribute("href", "/web/leagues/{{ league_index }}");
        subHeader.appendChild(subHeaderLink);
        document.title = tournamentInfo["name"] + "  " + tournamentInfo["year"];
        const table = document.getElementById("infoTableBody");
        const row = table.insertRow();
        const nation_cell = row.insertCell();
        nation_cell.innerText = nations[tournamentInfo["nation"]]["name"];
        const flag_cell = row.insertCell();
        const img = document.createElement('img');
        img.src = '/static/flags/' + nations[tournamentInfo["nation"]].code + '.png';
        img.setAttribute("class", "bordered");
        flag_cell.appendChild(img);
        const n_sets_cell = row.insertCell();
        n_sets_cell.innerText = tournamentInfo["n_sets"];
        const tie_breaker_cell = row.insertCell();
        const tie_breaker = tournamentInfo["tie_breaker_5th"];
        tie_breaker_cell.innerText = tieBreaker2text(tie_breaker);
        const category_cell = row.insertCell();
        const category = tournamentInfo["category"];
        category_cell.innerText = category2text(category);
        const draw_cell = row.insertCell();
        const draw = tournamentInfo["draw_type"];
        draw_cell.innerText = draw2text(draw);
    }
    function updateInfo() {
        {% if is_privileged %}
            const closeButton = document.getElementById("closeButton");
            const playersButton = document.getElementById("playersButton");
            const scoresButton = document.getElementById("scoresButton");
            if (!tournamentInfo["is_open"]) {
                closeButton.innerText = "Apri il torneo";
                closeButton.onclick = openTournament;
                playersButton.disabled = true;
                scoresButton.disabled = true;
            } else {
                closeButton.innerText = "Chiudi il torneo";
                closeButton.onclick = closeTournament;
                playersButton.disabled = false;
                scoresButton.disabled = false;
            }
        {% endif %}
    }
    function updateMatches() {
        if (tournamentInfo["is_ghost"]) {
            const table = document.getElementById("matches");
            table.innerText = "";
            const scoresButton = document.getElementById("scoresButton");
            scoresButton.hidden = true;
            return;
        }
        const table = document.getElementById("tableMatchesBody");
        table.innerText = "";
        for (const key in matches) {
            const row = table.insertRow();
            const id_cell = row.insertCell();
            id_cell.innerText = key;
            if (matches[key]["bets_closed"]) {
                let lock = document.createElement("img");
                lock.src = "/static/lock.png";
                id_cell.innerText += "   ";
                id_cell.appendChild(lock);
            }
            if (matches[key]["timestamp"] != null) {
                const clock = document.createElement("img");
                clock.src = "/static/clock.png";
                id_cell.innerText += "   ";
                id_cell.appendChild(clock);
            }
            const player_1_cell = row.insertCell();
            const player_2_cell = row.insertCell();
            const score_cell = row.insertCell();
            const time_cell = row.insertCell();
            if (matches[key]["players"]["player_1"] == null || matches[key]["players"]["player_2"] == null) {
                continue;
            }
            let winner;
            if (matches[key]["winner"] === matches[key]["players"]["player_1"]) {
                winner = 1;
            } else if (matches[key]["winner"] === matches[key]["players"]["player_2"]) {
                winner = 2;
            } else {
                winner = null;
            }
            if (winner === 1) {
                player_1_cell.className = "bold";
            }
            const seed_player_1 = getSeed(matches[key]["players"]["player_1"]);
            let seed_string;
            if (seed_player_1 !== 0) {
                seed_string = " [" + seed_player_1 + "]";
            } else {
                seed_string = "";
            }
            player_1_cell.innerText = players[matches[key]["players"]["player_1"]]["surname"] + seed_string;
            if (winner === 2) {
                player_2_cell.className = "bold";
            }
            const seed_player_2 = getSeed(matches[key]["players"]["player_2"]);
            if (seed_player_2 !== 0) {
                seed_string = " [" + seed_player_2 + "]";
            } else {
                seed_string = "";
            }
            player_2_cell.innerText = players[matches[key]["players"]["player_2"]]["surname"] + seed_string;
            score_cell.innerText = formatScore(matches[key]["score"]);
            if (matches[key]["timestamp"] != null) {
                time_cell.innerText = timestamp2localtime(matches[key]["timestamp"]);
            } else {
                time_cell.innerText = "";
            }
        }
    }
    function getSeed(player) {
        for (const key in tournamentPlayers) {
            if (tournamentPlayers[key] == null) {
                continue;
            }
            const index = tournamentPlayers[key]["index"];
            if (index === player) {
                return tournamentPlayers[key]["seed"];
            }
        }
    }
    function formatScore(score) {
        let formatted = "";
        for (const set in score) {
            if (score[set][0] === -1) {
                formatted += "A- " + " / ";
            } else if (score[set][1] === -1) {
                formatted += " -A" + " / ";
            }
            else {
                formatted += score[set][0] + "-" + score[set][1] + " / ";
            }
        }
        return formatted.slice(0, -2);
    }
    function formatScoreForm(score) {
        let formatted = "";
        for (const set in score) {
            if (score[set][0] === -1) {
                formatted += "A- ";
            } else if (score[set][1] === -1) {
                formatted += "-A ";
            } else if (score[set][0] < 10 && score[set][1] < 10) {
                formatted += String(score[set][0]) + String(score[set][1]) + " ";
            } else {
                formatted += score[set][0] + "-" + score[set][1] + " ";
            }
        }
        return formatted;
    }
    function updateTableRanking() {
        if (tournamentInfo["is_ghost"]) {
            const table = document.getElementById("ranking");
            table.innerText = "";
            return;
        }
        const table = document.getElementById("tableRankingBody");
        table.innerText = "";
        const scores = ranking["tournament_scores"];
        const ranking_scores = ranking["tournament_ranking_scores"];
        const scores_array = Object.entries(scores);
        scores_array.sort(function (first_pair, second_pair) {
            return first_pair[1] - second_pair[1];
        });
        scores_array.reverse();
        let last_position = undefined;
        let last_points = undefined;
        for (let index = 0; index < scores_array.length; index++) {
            const pair = scores_array[index];
            const gambler_index = pair[0];
            const gambler_points = pair[1];
            const row = table.insertRow();
            const position_cell = row.insertCell();
            if (gambler_points === last_points) {
                position_cell.innerText = last_position;
            } else {
                position_cell.innerText = String(index + 1);
                last_position = index + 1;
            }
            const gambler_cell = row.insertCell();
            const gambler_link = document.createElement("a");
            gambler_link.innerText = gamblers[gambler_index]["nickname"];
            gambler_link.setAttribute("href", "/web/leagues/{{ league_index }}/tournaments/{{ tournament_index }}/gamblers/" + pair[0]);
            gambler_cell.appendChild(gambler_link);
            const points_cell = row.insertCell();
            points_cell.innerText = String(gambler_points);
            const ranking_points_cell = row.insertCell();
            ranking_points_cell.innerText = ranking_scores[gambler_index];
            last_points = gambler_points;
        }
    }
    {% if is_privileged %}
        let seedForms = Object();
        let playerForms = Object();
        function insertPlayers() {
            const playersButton = document.getElementById("playersButton");
            playersButton.innerText = "Manda i tennisti";
            playersButton.onclick = sendPlayers;
            const scoresButton = document.getElementById("scoresButton");
            scoresButton.disabled = true;
            const closeButton = document.getElementById("closeButton");
            closeButton.disabled = true;
            const cancelButton = document.createElement("button");
            cancelButton.id = "cancelButton";
            cancelButton.innerText = "Annulla";
            cancelButton.onclick = restorePlayers;
            playersButton.parentNode.insertBefore(cancelButton, playersButton.nextSibling);
            const table = document.getElementById("tablePlayersBody");
            table.innerText = "";
            let playersNumber;
            if (tournamentInfo["draw_type"] === "Draw16") {
                playersNumber = 16;
            } else if (tournamentInfo["draw_type"] === "DrawRoundRobin") {
                playersNumber = 12;
            }
            for (let index = 0; index < playersNumber; index++) {
                const playerObject = tournamentPlayers[index];
                const player_index = playerObject["index"];
                let player_surname;
                if (player_index === -1) {
                    player_surname = "/";
                } else {
                    player_surname = players[player_index]["surname"];
                }
                const seed = playerObject["seed"];
                const row = table.insertRow();
                const position_cell = row.insertCell();
                position_cell.innerText = String(index + 1);
                const player_cell = row.insertCell();
                let form_player = document.createElement("select");
                form_player.onchange = playerChange;
                let option = document.createElement("option");
                option.value = String(-1);
                option.innerText = "";
                form_player.appendChild(option);
                for (const key in players) {
                    option = document.createElement("option");
                    option.value = key;
                    option.innerText = players[key]["surname"];
                    form_player.appendChild(option);
                }
                player_cell.appendChild(form_player);
                playerForms[index] = form_player;
                form_player.value = player_index;
                const seed_cell = row.insertCell();
                const seedForm = document.createElement("input");
                seedForm.setAttribute("type", "text");
                seedForm.setAttribute("size", "1");
                if (seed !== 0) {
                    seedForm.value = seed;
                } else {
                    seedForm.value = "";
                }
                if (player_index === 0 || player_index === -1) {
                    seedForm.disabled = true;
                }
                seed_cell.appendChild(seedForm);
                seedForms[index] = seedForm;
            }
        }
        function playerChange(event) {
            const changedForm = event.target;
            let newPlayer = changedForm.value;
            if (newPlayer === 0 || newPlayer === -1) {
                for (const index in playerForms) {
                    const playerForm = playerForms[index];
                    if (changedForm === playerForm) {
                        seedForms[index].value = "";
                        seedForms[index].disabled = true;
                        break;
                    }
                }
                return;
            }
            for (const index in playerForms) {
                const playerForm = playerForms[index];
                if (changedForm === playerForm) {
                    seedForms[index].disabled = false;
                    continue;
                }
                if (playerForm.value === newPlayer) {
                    playerForm.value = -1;
                    seedForms[index].value = "";
                    seedForms[index].disabled = true;
                }
            }
        }
        function sendPlayers() {
            const all_players = Object();
            const all_seeds = Array();
            for (const index in playerForms) {
                const player_index = parseInt(playerForms[index].value);
                const re_seed = /^([0-9]*)$/;
                const seed_value = seedForms[index].value;
                let seed;
                if (re_seed.test(seed_value)) {
                    seed = seed_value.match(re_seed).slice(1, 3).join("");
                    if (seed === "") {
                        seed = 0;
                    } else {
                        seed = parseInt(seed);
                    }
                    if (seed !== 0 && all_seeds.includes(seed)) {
                        window.alert("Seed duplicato nel posto " + index + ": " + seed_value);
                        return;
                    }
                    all_seeds.push(seed);
                } else {
                    window.alert("Seed non valido nel posto " + index + ": " + seed_value);
                    return;
                }
                if (player_index === tournamentPlayers[index]["index"] && seed === tournamentPlayers[index]["seed"]) {
                    continue;
                }
                const player_seed = Object();
                player_seed["player_seed"] = Object();
                player_seed["player_seed"]["player_index"] = player_index;
                player_seed["player_seed"]["seed"] = seed;
                all_players[index] = player_seed;
            }
            const all_reset_promises = Array();
            const reset_player_seed = Object();
            reset_player_seed["player_seed"] = Object();
            reset_player_seed["player_seed"]["player_index"] = -1;
            reset_player_seed["player_seed"]["seed"] = 0;
            for (const place in all_players) {
                all_reset_promises.push(
                    sendRequest("PUT", "/leagues/{{ league_index }}/tournaments/{{ tournament_index }}/players/" + place, reset_player_seed, place)
                );
            }
            Promise.allSettled(all_reset_promises).then(function (results) {
                for (const index in results) {
                    if (results[index]["status"] !== "fulfilled") {
                        const message = results[index]["reason"]["response"];
                        window.alert("Attenzione: " + message);
                        return;
                    }
                }
            });
            const all_promises = Array();
            for (const place in all_players) {
                all_promises.push(
                    sendRequest("PUT", "/leagues/{{ league_index }}/tournaments/{{ tournament_index }}/players/" + place, all_players[place], place)
                );
            }
            Promise.allSettled(all_promises).then(function (results) {
                let restore = true;
                for (const index in results) {
                    if (results[index]["status"] === "fulfilled") {
                        const place = results[index]["value"]["key"];
                        tournamentPlayers[place] = JSON.parse(results[index]["value"]["response"]);
                    } else {
                        const message = results[index]["reason"]["response"];
                        window.alert("Attenzione: " + message);
                        restore = false;
                    }
                }
                if (restore) {
                    restorePlayers();
                }
            });
        }
        function restorePlayers() {
            const playersButton = document.getElementById("playersButton");
            playersButton.innerText = "Cambia i tennisti";
            playersButton.onclick = insertPlayers;
            const scoresButton = document.getElementById("scoresButton");
            scoresButton.disabled = false;
            const closeButton = document.getElementById("closeButton");
            closeButton.disabled = false;
            document.getElementById("cancelButton").remove();
            playerForms = Array();
            seedForms = Array();
            updateTablePlayers();
        }
        function updateTablePlayers() {
            if (tournamentInfo["is_ghost"]) {
                const table = document.getElementById("players");
                table.innerText = "";
                const playersButton = document.getElementById("playersButton");
                playersButton.hidden = true;
                return;
            }
            const table = document.getElementById("tablePlayersBody");
            table.innerText = "";
            let playersNumber;
            if (tournamentInfo["draw_type"] === "Draw16") {
                playersNumber = 16;
            } else if (tournamentInfo["draw_type"] === "DrawRoundRobin") {
                playersNumber = 12;
            }
            for (let index = 0; index < playersNumber; index++) {
                const playerObject = tournamentPlayers[index];
                const player_index = playerObject["index"];
                let player_surname;
                if (player_index === -1) {
                    player_surname = "/";
                } else {
                    player_surname = players[tournamentPlayers[index]["index"]]["surname"];
                }
                const seed = tournamentPlayers[index]["seed"];
                const row = table.insertRow();
                const position_cell = row.insertCell();
                position_cell.innerText = String(index + 1);
                const player_cell = row.insertCell();
                player_cell.innerText = player_surname;
                const seed_cell = row.insertCell();
                if (seed !== 0) {
                    seed_cell.innerText = seed;
                } else {
                    seed_cell.innerText = "";
                }
            }
        }
        let forms = Object();
        let checkboxes = Object();
        let datetimes = Object();
        let clear_buttons = Object();
        function insertScores() {
            const scoresButton = document.getElementById("scoresButton");
            scoresButton.innerText = "Manda i punteggi";
            scoresButton.onclick = sendScores;
            const playersButton = document.getElementById("playersButton");
            playersButton.disabled = true;
            const closeButton = document.getElementById("closeButton");
            closeButton.disabled = true;
            const cancelButton = document.createElement("button");
            cancelButton.id = "cancelButton";
            cancelButton.innerText = "Annulla";
            cancelButton.onclick = restoreMatches;
            scoresButton.parentNode.insertBefore(cancelButton, scoresButton.nextSibling);
            const table = document.getElementById("tableMatchesBody");
            table.innerText = "";
            for (const key in matches) {
                const row = table.insertRow();
                const id_cell = row.insertCell();
                id_cell.innerText = key;
                if (matches[key]["bets_closed"]) {
                    const lock = document.createElement("img");
                    lock.src = "/static/lock.png";
                    id_cell.innerText += "   ";
                    id_cell.appendChild(lock);
                }
                if (matches[key]["timestamp"] != null) {
                    const clock = document.createElement("img");
                    clock.src = "/static/clock.png";
                    id_cell.innerText += "   ";
                    id_cell.appendChild(clock);
                }
                const player_1_cell = row.insertCell();
                const player_2_cell = row.insertCell();
                const score_cell = row.insertCell();
                const bets_closed_cell = row.insertCell();
                if (matches[key]["players"]["player_1"] == null || matches[key]["players"]["player_2"] == null) {
                    continue;
                }
                const seed_player_1 = getSeed(matches[key]["players"]["player_1"]);
                let seed_string;
                if (seed_player_1 !== 0) {
                    seed_string = " [" + seed_player_1 + "]";
                } else {
                    seed_string = "";
                }
                player_1_cell.innerText = players[matches[key]["players"]["player_1"]]["surname"] + seed_string;
                const seed_player_2 = getSeed(matches[key]["players"]["player_2"]);
                if (seed_player_2 !== 0) {
                    seed_string = " [" + seed_player_2 + "]";
                } else {
                    seed_string = "";
                }
                player_2_cell.innerText = players[matches[key]["players"]["player_2"]]["surname"] + seed_string;
                if (matches[key]["players"]["player_1"] === 0 || matches[key]["players"]["player_2"] === 0) {
                    continue;
                }
                const inner_table = document.createElement("table");
                inner_table.setAttribute("class", "forms-table");
                const inner_row = inner_table.insertRow();
                forms[key] = Object();
                let score;
                if (!window.mobileCheck()) {
                    // desktop
                    score = matches[key]["score"];
                    for (let set = 0; set < tournamentInfo["n_sets"]; set++) {
                        const set_cell = inner_row.insertCell();
                        let form = document.createElement("input");
                        form.setAttribute("type", "text");
                        form.setAttribute("size", "1");
                        if (score != null && score[set] !== undefined) {
                            if (score[set][0] === -1) {
                                form.value = "A-";
                            } else if (score[set][1] === -1) {
                                form.value += "-A";
                            } else if (score[set][0] < 10 && score[set][1] < 10) {
                                form.value = String(score[set][0]) + String(score[set][1]);
                            } else {
                                form.value = String(score[set][0]) + "-" + String(score[set][1]);
                            }
                        }
                        forms[key][set] = form;
                        set_cell.appendChild(form);
                    }
                    score_cell.appendChild(inner_table);
                } else {
                    // mobile
                    let form = document.createElement("input");
                    form.setAttribute("type", "text");
                    form.setAttribute("size", String(3 * tournamentInfo["n_sets"]));
                    score = matches[key]["score"];
                    if (score != null) {
                        form.value = formatScoreForm(score);
                    }
                    forms[key] = form;
                    score_cell.appendChild(form);
                }
                if (score == null) {
                    const checkbox = document.createElement("input");
                    checkbox.type = "checkbox";
                    checkbox.onclick = showDatetime;
                    checkboxes[key] = checkbox;
                    bets_closed_cell.appendChild(checkbox);
                    const datetime = document.createElement("input");
                    datetime.required = true;
                    datetime.type = "time";
                    bets_closed_cell.appendChild(datetime);
                    if (matches[key]["timestamp"] != null) {
                        datetime.value = timestamp2localtime(matches[key]["timestamp"]);
                    }
                    datetimes[key] = datetime;
                    const clear_button = document.createElement("button");
                    clear_button.innerText = "X";
                    clear_button.onclick = function(event) {
                        datetime.value = "";
                    };
                    clear_buttons[key] = clear_button;
                    bets_closed_cell.appendChild(clear_button);
                    if (matches[key]["bets_closed"]) {
                        checkbox.checked = true;
                        datetime.hidden = true;
                        clear_button.hidden = true;
                    }
                }
            }
        }
        function timestamp2localtime(timestamp) {
            const tzoffset = (new Date()).getTimezoneOffset() * 60000; //offset in milliseconds
            return (new Date(timestamp * 1000 - tzoffset)).toISOString().slice(11, 16);
        }
        function getKeyByValue(obj, value) {
            for (const prop in obj) {
                if(obj.hasOwnProperty(prop)) {
                    if(obj[prop] === value)
                        return prop;
                }
            }
        }
        function showDatetime(event) {
            const key = getKeyByValue(checkboxes, event.target);
            if (event.target.checked) {
                datetimes[key].hidden = true;
                clear_buttons[key].hidden = true;
            } else {
                datetimes[key].hidden = false;
                clear_buttons[key].hidden = false;
            }
        }
        function getTimeStamp(value_string) {
            if (value_string === "") {
                return null;
            }
            const currentdate = new Date();
            const year = currentdate.getFullYear();
            const month = currentdate.getMonth();
            const day = currentdate.getDate();
            const current_hour = currentdate.getHours();
            const current_minute = currentdate.getMinutes();
            const hour = value_string.slice(0, 2);
            const minute = value_string.slice(3, 5);
            let delta;
            if ((hour < current_hour) || (hour === current_hour && minute < current_minute)) {
                delta = 24*60*60;
            } else {
                delta = 0;
            }
            return new Date(year, month, day, hour, minute, '00').getTime()/1000 + delta;
        }
        function sendScores() {
            const re_score_minus = /^([0-9]*)-([0-9]*)$/;
            const re_score_simple = /^([0-9])([0-9])$/;
            const all_scores = Object();
            for (const key in forms) {
                let set_scores;
                if (!window.mobileCheck()) {
                    // desktop
                    set_scores = Array();
                    for (const set in forms[key]) {
                        set_scores.push(forms[key][set].value.trim());
                    }
                } else {
                    // mobile
                    set_scores = forms[key].value.trim().split(/\s+/);
                }
                let last_set = false;
                const match_score = Array();
                for (const set in set_scores) {
                    let set_score = set_scores[set];
                    let set_score_array;
                    if (set_score !== "" && last_set) {
                        window.alert("Punteggio non valido nel match " + key + ": set dopo un set vuoto");
                        return;
                    }
                    if (set_score === "") {
                        last_set = true;
                        continue;
                    } else if (set_score === "-A") {
                        set_score = Array(0, -1);
                        match_score.push(set_score);
                        last_set = true;
                        continue;
                    } else if (set_score === "A-") {
                        set_score = Array(-1, 0);
                        match_score.push(set_score);
                        last_set = true;
                        continue;
                    } else if (re_score_minus.test(set_score)) {
                        set_score_array = set_score.match(re_score_minus).slice(1, 3);
                    } else if (re_score_simple.test(set_score)) {
                        set_score_array = set_score.match(re_score_simple).slice(1, 3);
                    } else {
                        window.alert("Punteggio non valido nel match " + key + ": " + set_score);
                        return;
                    }
                    set_score_array[0] = parseInt(set_score_array[0]);
                    set_score_array[1] = parseInt(set_score_array[1]);
                    match_score.push(set_score_array);
                }
                all_scores[key] = Object();
                all_scores[key]["score"] = match_score;
                if (key in checkboxes) {
                    let timestamp;
                    if (key in datetimes) {
                        timestamp = getTimeStamp(datetimes[key].value);
                    } else {
                        timestamp = null;
                    }
                    if (timestamp == null) {
                        all_scores[key]["bets_closed"] = checkboxes[key].checked;
                    } else {
                        all_scores[key]["bets_closed"] = false;
                    }
                    all_scores[key]["timestamp"] = timestamp;
                } else {
                    all_scores[key]["bets_closed"] = true;
                    all_scores[key]["timestamp"] = null;
                }
            }
            const all_promises = Array();
            for (const key in all_scores) {
                if (!equalScores(all_scores[key]["score"], matches[key]["score"]) || all_scores[key]["bets_closed"] !== matches[key]["bets_closed"]
                    || all_scores[key]["timestamp"] !== matches[key]["timestamp"]) {
                    all_promises.push(
                        sendRequest("PUT", "/leagues/{{ league_index }}/tournaments/{{ tournament_index }}/matches/" + key, all_scores[key], key)
                    );
                }
            }
            if (all_promises.length === 0) {
                restoreMatches();
            }
            Promise.allSettled(all_promises).then(function (results) {
                let restore = true;
                const successful = [];
                const failed = [];
                for (const index in results) {
                    if (results[index]["status"] === "fulfilled") {
                        const match_id = results[index]["value"]["key"];
                        const match = JSON.parse(results[index]["value"]["response"]);
                        matches[match_id] = match;
                        let successful_string = "Match " + match_id + " aggiornato: [ " + formatScore(match['score']) + " ]";
                        if (match['bets_closed']) {
                            successful_string += " con scommesse chiuse";
                        } else {
                            successful_string += " con scommesse aperte";
                        }
                        if (match['timestamp'] != null) {
                            successful_string += " con chiusura programmata per " + timestamp2localtime(match["timestamp"]);
                        }
                        successful.push(successful_string);
                    } else {
                        const match_id = results[index]["reason"]["key"];
                        const message = results[index]["reason"]["response"];
                        failed.push("Attenzione! Match " + match_id + ": " + message);
                        restore = false;
                    }
                }
                if (successful.length > 0) {
                    window.alert(successful.join("\n"));
                }
                if (failed.length > 0) {
                    window.alert(failed.join("\n"));
                }
                if (restore) {
                    restoreMatches();
                }
            });
        }
        function restoreMatches() {
            const scoresButton = document.getElementById("scoresButton");
            scoresButton.innerText = "Cambia i punteggi";
            scoresButton.onclick = insertScores;
            const playersButton = document.getElementById("playersButton");
            playersButton.disabled = false;
            const closeButton = document.getElementById("closeButton");
            closeButton.disabled = false;
            document.getElementById("cancelButton").remove();
            forms = Object();
            checkboxes = Object();
            updateMatches();
        }
        function closeTournament() {
            if (!changeTournamentStatus(false)) {
                return;
            }
            for (const key in matches) {
                matches[key]["bets_closed"] = true;
            }
            updateMatches();
        }
        function openTournament() {
            changeTournamentStatus(true);
        }
        function changeTournamentStatus(is_open) {
            let text;
            if (is_open) {
                text = "Il torneo verrà aperto. Continuare?";
            } else {
                text = "Il torneo verrà chiuso. Continuare?";
            }
            if (confirm(text) !== true) {
                return false;
            }
            const requestJson = Object();
            requestJson["is_open"] = is_open;
            let returnValue = false;
            Promise.all([
                sendRequest("PUT", "/leagues/{{ league_index }}/tournaments/{{ tournament_index }}", requestJson)
            ]).then(function (values) {
                const updated_tournament = JSON.parse(values[0]);
                for (const key in updated_tournament) {
                    tournamentInfo = updated_tournament[key];
                }
                updateInfo();
                Promise.all([
                    sendRequest("GET", "/leagues/{{ league_index }}/tournaments/{{ tournament_index }}/ranking")
                ]).then(function (values) {
                    ranking = JSON.parse(values[0]);
                    updateTableRanking();
                    returnValue = true;
                }).catch(function (reason) {
                    window.alert(reason);
                });
            }).catch(function (reason) {
                window.alert(reason);
            });
            return returnValue;
        }
    {% endif %}
</script>
{% endblock %}

{% block content %}
<h1 id="mainHeader"></h1>
<h2 id="subHeader"></h2>
<table class="styled-table">
    <thead>
    <tr>
        <td>Nazione</td>
        <td>Bandiera</td>
        <td>Set</td>
        <td>Tie-break al 5° set</td>
        <td>Categoria</td>
        <td>Tabellone</td>
    </tr>
    </thead>
    <tbody id="infoTableBody">
    </tbody>
</table>
{% if is_privileged %}
    <button id="scoresButton" onclick="insertScores()">Cambia i punteggi</button>
    <button id="closeButton" onclick="closeTournament()">Chiudi il torneo</button>
{% endif %}
<div class="floatRankings">
    <table id="matches" class="styled-table">
        <thead>
        <tr>
            <td>Match</td>
            <td>Giocatore 1</td>
            <td>Giocatore 2</td>
            <td>Risultato</td>
            <td></td>
        </tr>
        </thead>
        <tbody id="tableMatchesBody">
        </tbody>
    </table>
</div>
<div class="floatRankings">
    <table id="ranking" class="styled-table">
        <thead>
        <tr>
            <td>Posizione</td>
            <td>Scommettitore</td>
            <td>Punti</td>
            <td>Punti ranking</td>
        </tr>
        </thead>
        <tbody id="tableRankingBody">
        </tbody>
    </table>
</div>
    {% if is_privileged %}
        <div class="floatRankings">
            <button id="playersButton" onclick="insertPlayers()">Cambia i tennisti</button>
            <table id="players" class="styled-table">
                <thead>
                <tr>
                    <td>Posto</td>
                    <td>Tennista</td>
                    <td>Seed</td>
                </tr>
                </thead>
                <tbody id="tablePlayersBody">
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
