<!doctype html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='prova.css') }}">
</head>
<body>
<title></title>
<script>
    window.onload = updatePage;
    var leagues;
    var gamblers;
    var players;
    var nations;
    var ranking;
    var tournaments;
    var tournamentPlayers;
    var matches;
    var bets;
    var forms = Object();
    var checkboxes = Object();
    function callLeagues() {
        return new Promise(function(resolve, reject) {
            var leaguesRequest = new XMLHttpRequest();
            leaguesRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            leaguesRequest.open("GET", "/leagues", true);
            leaguesRequest.send();
        })
    }
    function callGamblers() {
        return new Promise(function(resolve, reject) {
            var gamblersRequest = new XMLHttpRequest();
            gamblersRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            gamblersRequest.open("GET", "/gamblers", true);
            gamblersRequest.send();
        })
    }
    function callPlayers() {
        return new Promise(function(resolve, reject) {
            var playersRequest = new XMLHttpRequest();
            playersRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            playersRequest.open("GET", "/players", true);
            playersRequest.send();
        })
    }
    function callNations() {
        return new Promise(function(resolve, reject) {
            var nationsRequest = new XMLHttpRequest();
            nationsRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            nationsRequest.open("GET", "/nations", true);
            nationsRequest.send();
        })
    }
    function callRanking() {
        return new Promise(function(resolve, reject) {
            var rankingRequest = new XMLHttpRequest();
            rankingRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            rankingRequest.open("GET", "/leagues/{{ league_index }}/tournaments/{{ tournament_index }}/ranking", true);
            rankingRequest.send();
        })
    }
    function callTournaments() {
        return new Promise(function(resolve, reject) {
            var tournamentsRequest = new XMLHttpRequest();
            tournamentsRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            tournamentsRequest.open("GET", "/leagues/{{ league_index }}/tournaments", true);
            tournamentsRequest.send();
        })
    }
    function callTournamentPlayers() {
        return new Promise(function(resolve, reject) {
            var tournamentPlayersRequest = new XMLHttpRequest();
            tournamentPlayersRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            tournamentPlayersRequest.open("GET", "/leagues/{{ league_index }}/tournaments/{{ tournament_index }}/players", true);
            tournamentPlayersRequest.send();
        })
    }
    function callMatches() {
        return new Promise(function(resolve, reject) {
            var matchesRequest = new XMLHttpRequest();
            matchesRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            matchesRequest.open("GET", "/leagues/{{ league_index }}/tournaments/{{ tournament_index }}/matches", true);
            matchesRequest.send();
        })
    }
    function callBets() {
        return new Promise(function(resolve, reject) {
            var betsRequest = new XMLHttpRequest();
            betsRequest.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve(this.responseText);
                    } else {
                        reject(this.responseText);
                    }
                }
            };
            betsRequest.open("GET", "/leagues/{{ league_index }}/tournaments/{{ tournament_index }}/gamblers/{{ gambler_index }}/matches", true);
            betsRequest.send();
        })
    }
    function updatePage() {
        Promise.all([callLeagues(), callGamblers(), callPlayers(), callNations(), callRanking(), callTournaments(), callTournamentPlayers(), callMatches(), callBets()]).then(function (values) {
            leagues = JSON.parse(values[0]);
            gamblers = JSON.parse(values[1]);
            players = JSON.parse(values[2]);
            nations = JSON.parse(values[3]);
            ranking = JSON.parse(values[4]);
            tournaments = JSON.parse(values[5]);
            tournamentPlayers = JSON.parse(values[6]);
            matches = JSON.parse(values[7]);
            bets = JSON.parse(values[8]);
            updateTitles();
            updateMatches();
        }).catch(function (reason) {
            window.alert(reason);
        });
    }
    function updateTitles() {
        document.getElementById("mainHeader").innerText = gamblers[{{ gambler_index }}]["nickname"];
        subHeaderLink = document.createElement("a");
        subHeaderLink.innerText = tournaments[{{ tournament_index }}]["name"] + "  " + tournaments[{{ tournament_index }}]["year"];
        subHeaderLink.setAttribute("href", "/web/leagues/{{ league_index }}/tournaments/{{ tournament_index }}");
        document.getElementById("subHeader").appendChild(subHeaderLink);
        points = "Punti: " + ranking["tournament_scores"][{{ gambler_index }}] + "   (Jolly finale: " + ranking["joker_gambler_seed_points"][{{ gambler_index }}] + ")";
        document.getElementById("pointsHeader").innerText = points;
        document.title = tournaments[{{ tournament_index }}]["name"] + "  " + tournaments[{{ tournament_index }}]["year"];
    }
    function updateMatches() {
        table = document.getElementById("matches");
        table.innerText = "";
        for (var key in matches) {
            if (matches[key]["players"]["player_1"] == null || matches[key]["players"]["player_2"] == null) {
                continue;
            }
            const row = table.insertRow();
            const id_cell = row.insertCell();
            id_cell.innerText = key;
            const player_1_cell = row.insertCell();
            seed_player_1 = getSeed(matches[key]["players"]["player_1"]);
            if (seed_player_1 != 0) {
                seed_string = " [" + seed_player_1 + "]";
            } else {
                seed_string = "";
            }
            player_1_cell.innerText = players[matches[key]["players"]["player_1"]]["surname"] + seed_string;
            const player_2_cell = row.insertCell();
            seed_player_2 = getSeed(matches[key]["players"]["player_2"]);
            if (seed_player_2 != 0) {
                seed_string = " [" + seed_player_2 + "]";
            } else {
                seed_string = "";
            }
            player_2_cell.innerText = players[matches[key]["players"]["player_2"]]["surname"] + seed_string;
            const score_cell = row.insertCell();
            score_cell.innerText = formatScore(bets[key]["bet"]["score"]);
            const joker_cell = row.insertCell();
            joker_cell.innerText = bets[key]["bet"]["joker"] ? "*" : "";
            const points_cell = row.insertCell();
            points_cell.innerText = bets[key]["points"];
        }
    }
    function getSeed(player) {
        for (key in tournamentPlayers) {
            index = tournamentPlayers[key]["index"];
            if (index == player) {
                return tournamentPlayers[key]["seed"];
            }
        }
    }
    function formatScore(score) {
        formatted = "";
        for (set in score) {
            if (score[set][0] == -1) {
                formatted += "A- " + " / ";
            } else if (score[set][1] == -1) {
                formatted += " -A" + " / ";
            }
            else {
                formatted += score[set][0] + "-" + score[set][1] + " / ";
            }
        }
        return formatted.slice(0, -2);
    }
    function insertBets() {
        button = document.getElementById("betsButton");
        button.innerText = "Manda i punteggi";
        button.onclick = sendBets;
        cancelButton = document.createElement("button");
        cancelButton.id = "cancelButton";
        cancelButton.innerText = "Annulla";
        cancelButton.onclick = restoreMatches;
        button.parentNode.insertBefore(cancelButton, button.nextSibling);
        table = document.getElementById("matches");
        table.innerText = "";
        joker_already_used = false;
        for (var key in matches) {
            if (matches[key]["players"]["player_1"] == null || matches[key]["players"]["player_2"] == null) {
                continue;
            }
            const row = table.insertRow();
            const id_cell = row.insertCell();
            id_cell.innerText = key;
            const player_1_cell = row.insertCell();
            player_1_cell.innerText = players[matches[key]["players"]["player_1"]]["surname"];
            const player_2_cell = row.insertCell();
            player_2_cell.innerText = players[matches[key]["players"]["player_2"]]["surname"];
            if (matches[key]["bets_closed"]) {
                const score_cell = row.insertCell();
                score_cell.innerText = formatScore(bets[key]["bet"]["score"]);
                const joker_cell = row.insertCell();
                if (bets[key]["bet"]["joker"]) {
                    joker_already_used = true;
                }
                joker_cell.innerText = bets[key]["bet"]["joker"] ? "*" : "";
                const points_cell = row.insertCell();
                points_cell.innerText = bets[key]["points"];
            } else {
                const score_cell = row.insertCell();
                inner_table = document.createElement("table");
                inner_table.setAttribute("class", "forms-table");
                inner_row = inner_table.insertRow();
                forms[key] = Object();
                for (var set=0; set < tournaments[{{ tournament_index }}]["n_sets"]; set++) {
                    set_cell = inner_row.insertCell();
                    let form = document.createElement("input");
                    form.setAttribute("type", "text");
                    form.setAttribute("name", key);
                    form.setAttribute("size", 1);
                    score = bets[key]["bet"]["score"];
                    if (score != null && score[set] != undefined) {
                        if (score[set][0] == "-1") {
                            form.value = "A-";
                        } else if (score[set][1] == "-1") {
                            form.value += "-A";
                        } else {
                            form.value = score[set][0] + "-" + score[set][1];
                        }
                    }
                    forms[key][set] = form;
                    set_cell.appendChild(form);
                }
                checkbox_cell = inner_row.insertCell();
                let checkbox = document.createElement("input");
                checkbox.type = "checkbox";
                checkboxes[key] = checkbox;
                checkbox_cell.appendChild(checkbox);
                if (bets[key]["bet"]["joker"]) {
                    checkbox.checked = true;
                }
                score_cell.appendChild(inner_table);
            }
            if (joker_already_used) {
                for (key in checkboxes) {
                    checkboxes[key].remove();
                }
            }
        }
    }
    function sendBets() {
        const re_score = /^([0-9]*)-([0-9]*)$/;
        put_json = Object();
        all_values = "";
        joker_used = false;
        all_bets = Object();
        for (var key in forms) {
            last_set = false;
            match_score = Array();
            for (set in forms[key]) {
                var value = forms[key][set].value;
                if (value != "" && last_set) {
                    alert("Punteggio non valido nel match " + key + ": set dopo un set vuoto");
                    return;
                }
                if (value == "") {
                    last_set = true;
                    continue;
                } else if (value == "-A") {
                    set_score = Array(0, -1);
                    match_score.push(set_score);
                    last_set = true;
                    continue;
                } else if (value == "A-") {
                    set_score = Array(-1, 0);
                    match_score.push(set_score);
                    last_set = true;
                    continue;
                } else if (!re_score.test(value)) {
                    alert("Punteggio non valido nel match " + key + ": " + value);
                    return;
                }
                set_score = value.match(re_score).slice(1, 3);
                set_score[0] = parseInt(set_score[0]);
                set_score[1] = parseInt(set_score[1]);
                match_score.push(set_score);
            }
            var joker = checkboxes[key].checked;
            if (joker) {
                if (joker_used) {
                    alert("È possibile selezionare soltanto un joker");
                    return;
                } else {
                    joker_used = true;
                }
            }
            all_bets[key] = Object();
            all_bets[key]["bet"] = Object();
            all_bets[key]["bet"]["score"] = match_score;
            all_bets[key]["bet"]["joker"] = joker;
        }
        all_promises = Array();
        for (key in all_bets) {
            all_promises.push(sendBetRequest(key, all_bets[key]));
        }
        Promise.allSettled(all_promises).then(function (results) {
            console.warn(results);
            for (var index in results) {
                if (results[index]["status"] == "fulfilled") {
                    match_id = results[index]["value"]["match_id"];
                    bet = JSON.parse(results[index]["value"]["response"]);
                    bets[match_id] = bet;
                } else {
                    match_id = results[index]["reason"]["match_id"];
                    message = results[index]["reason"]["response"];
                    window.alert("Match " + match_id + ": " + message);
                }
            }
            restoreMatches();
        });
    }
    function restoreMatches() {
        button = document.getElementById("betsButton");
        button.innerText = "Cambia i punteggi";
        button.onclick = insertBets;
        document.getElementById("cancelButton").remove();
        forms = Object();
        checkboxes = Object();
        updateMatches();
    }
    function sendBetRequest(match_id, bet) {
        return new Promise(function (resolve, reject) {
            var betPutRequest = new XMLHttpRequest();
            betPutRequest.onreadystatechange = function () {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        resolve({"match_id": match_id, "response": this.responseText});
                    } else {
                        reject({"match_id": match_id, "response": this.responseText});
                    }
                }
            };
            betPutRequest.open("PUT", "/leagues/{{ league_index }}/tournaments/{{ tournament_index }}/gamblers/{{ gambler_index }}/matches/" + match_id, true);
            betPutRequest.setRequestHeader("Content-Type", "application/json");
            betPutRequest.send(JSON.stringify(bet));
        })
    }
</script>
<h1 id="mainHeader"></h1>
<h2 id="subHeader"></h2>
<button id="betsButton" onclick="insertBets()">Cambia i punteggi</button>
<h2 id="pointsHeader"></h2>
<div>
    <table id="matches" class="styled-table">
    </table>
</div>
</body>